<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Liste des quartiers
        </div>
        <div class="boutons">

            <div class="row">
                <div class="col-lg-2">
                    <div class="nouveau">
                        <a routerLink="/quartier/edit" class="btn nouveau">
                            Ajouter un quartier
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Zone
                            </span>
                        </div>

                        <select [(ngModel)]="zone" class="form-control">
                            <option [ngValue]="null">Toutes les zones</option>
                            <option [ngValue]="z" *ngFor="let z of zones">
                                {{z.libelle}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn primaire" (click)="filtrer(zone)">Filtrer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">
            <div class="page-contenu-corps">
                <div class="card shadow-1">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Code</th>
                                <th>Libellé</th>
                                <th>Zone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let quartier of resultats" (click)="edit(quartier.idquartier)">
                                <td>{{quartier.idquartier}}</td>
                                <td>{{quartier.code}}</td>
                                <td>{{quartier.nom}}</td>
                                <td>{{quartier.idzone?.libelle}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>