<div class="page" style="overflow-y: auto;">
  <div>

  </div>
  <div class="page-entete">
    <div *ngIf="poste.idposte!=0" class="page-entete-titre">
      <b>Poste : {{poste.libelle}}</b>
    </div>
    <div *ngIf="poste.statut" style="color: red;">
      Le poste est inactif
    </div>
    <div *ngIf="poste.idcontratsite">
      <ng-container *ngIf="mesDroits.contratEdit">
        Contrat : <a [routerLink]="'/contrat/view/' + poste.idcontratsite.idcontrat.idcontrat">
          {{poste.idcontratsite.idcontrat.libelle}}
        </a>,
      </ng-container>

      Site : {{poste.idcontratsite.idcontratSite}}, {{poste.idcontratsite.nom}},
    </div>
    <div>
      Code : {{poste.code}}
    </div>
    <div>
      Code AGIV : {{poste.codeagiv}}
    </div>
    <div>
      Zone : {{poste.zone.code}}
    </div>
    <div class="">
      <a routerLink="/poste" class="btn btn-link" style="padding: 0; margin: 0;">
        Revenir à la liste des postes
      </a>
    </div>
  </div>
  <div class="boutons">
    <div class="row">
      <div class="col-lg-2" *ngIf="mesDroits.posteEdit">
        <div class="nouveau">
          <a [routerLink]="'/poste/edit/' + poste.idposte " class="btn nouveau">
            Modifier
          </a>
        </div>
      </div>
      <div class="col-lg-2" *ngIf="mesDroits.posteEdit">
        <div *ngIf="poste.statut">
          <a (click)="toggleActivation()" class="btn btn-success" style="width: 100%;">
            Activer
          </a>
        </div>
        <div *ngIf="!poste.statut">
          <a (click)="toggleActivation()" class="btn btn-danger btn-error" style="width: 100%;">
            Desactiver
          </a>
        </div>
      </div>
      <div class="col-lg-3" *ngIf="mesDroits.posteEdit">
        <button class="btn btn-primary" (click)="mettreEnLigne()" style="width: 100%;">
          Mettre en ligne les infos &nbsp; <i class="bi bi-cloud-arrow-up-fill"></i>
        </button>
      </div>
      <div class="col-lg-3" *ngIf="mesDroits.posteEdit">
        <button class="btn btn-success" (click)="mettreEnLigneLesAffectations()" style="width: 100%;">
          Mettre en ligne les affectations &nbsp; <i class="bi bi-cloud-arrow-up-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="page-contenu">
    <div class="row">
      <div class="col-lg-5">

        <div class="card affectations-ligne">
          <div class="">
            <div class="card-title">
              Affectations en ligne
            </div>
            <table class="table">
              <tbody>
                <tr *ngFor="let affectationLigne of affectationsLignes">
                  <td style="width: 100px;">
                    <b>
                      <ng-container *ngIf="affectationLigne.isRemplacant">
                        {{affectationLigne.matriculeRemplacant}}
                      </ng-container>
                      <ng-container *ngIf="!affectationLigne.isRemplacant">
                        {{affectationLigne.matricule}}
                      </ng-container>
                    </b>
                  </td>
                  <td>
                    <ng-container *ngIf="affectationLigne.isRemplacant">
                      {{affectationLigne.nomsRemplacant}} | Remplacant, Jour :
                      {{jourSemaine(affectationLigne.jourRepos) }}
                    </ng-container>
                    <ng-container *ngIf="!affectationLigne.isRemplacant">
                      {{affectationLigne.nomsVigile}}
                    </ng-container>
                  </td>
                  <td style="text-align: right;">
                    <button (click)="supprimer(affectationLigne)" class="btn btn-sm btn-danger btn-error">
                      Supprimer
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="petit-titre">
              Informations
            </div>
            <div>
              <div>
                Ville : <a href="#">{{poste.zone?.idville?.libelle}}</a>, Zone : <a
                  href="#">{{poste.zone?.libelle}}</a>, Quartier : <a href="#">{{poste.idquartier?.nom}}</a>
              </div>
              <div>
                Personne à contacter : <a>{{poste.contact}}</a>, Téléphone : {{poste.tel}}
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="petit-titre">
              Coordonnées géographiques
            </div>
            <div>
              <div>
                Laltitude : {{poste.latitude}}, Longitude : {{poste.longitude}}
              </div>
              <div>
                <button class="btn btn-link" (click)="openGoogleMap()">Voir la localisation</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="poste.idcontratsite">
          <div>
            <div class="petit-titre">
              Exigences du contrat :
              <b>
                Personnel
              </b>
            </div>
            <div>
              <ul>
                <ng-container *ngFor="let item of exigences">
                  <li class="element-supprimable" [ngClass]="{'erreur': !verifierExigence(item)}"
                    *ngIf="item.horaire === poste.horaire">
                    <span>
                      {{item.quantite}} {{item.typeVigile}} {{item.horaire}}
                    </span>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="petit-titre">
              Jour de repos
            </div>
            <div>
              <div class="input-group mb-3">

                <select [(ngModel)]="jourRepos" class="form-control">
                  <option [value]="1">Lundi</option>
                  <option [value]="2">Mardi</option>
                  <option [value]="3">Mercredi</option>
                  <option [value]="4">Jeudi</option>
                  <option [value]="5">Vendredi</option>
                  <option [value]="6">Samedi</option>
                  <option [value]="7">Dimanche</option>
                </select>
                <button (click)="modifierJourDeRepos()" class="btn btn-primary">
                  Mettre à jour le jour de repos
                </button>
              </div>
            </div>
            <div *ngIf="affectations[0]">
              Suggestion : {{jourSemaine(affectations[0].jourRepos)}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card">
          <div style="margin-bottom: 10px;">
            Liste des vigiles titulaires en poste
            <button *ngIf="!exigencesVerifiees && !poste.statut" class="btn btn-link" style="float: right;"
              (click)="openModal()">
              Ajouter un vigile
            </button>
          </div>
          <div class="row">
            <div class="col-lg-6" *ngFor="let affectation of affectations">
              <div style="border: 1px solid #aaa; ">
                <app-vigile [vigile]="affectation.idvigile"></app-vigile>
              </div>
              <div class="voir-affectation">
                <a [routerLink]="'/affectation/view/'+affectation.idaffectation">
                  Voir l'affectation
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div style="margin-bottom: 10px;">
            Liste des remplacants
          </div>
          <div class="row">
            <ng-container *ngFor="let affectation of affectations">
              <div class="col-lg-6" *ngIf="affectation.remplacant">
                <div style="border: 0px solid #aaa; margin-bottom: 20px;">
                  <div style="text-align: center;padding: 10px; padding-top: 20px; background-color: #eee;">
                    <b>
                      {{affectation.remplacant.noms}}
                    </b>
                    <div>
                      {{affectation.remplacant.matricule}}
                    </div>
                    <div style="margin-bottom: 10px; text-align: center;padding: 10px;">
                      <a [routerLink]="'/affectation/view/'+affectation.idaffectation">Voir l'affectation</a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="card">
          <div style="margin-bottom: 10px;">
            Historique des affectations
          </div>
          <div>
            <table datatable [dtOptions]="dtOptionsHistorique" [dtTrigger]="dtTriggerHistorique"
              class="table row-border hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Vigile</th>
                  <th>Remplacant</th>
                  <th>Arrêt</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let affectation of historiqueAffectations">
                  <td>{{affectation.dateAffectation?.split('T')[0]}}</td>
                  <td>{{affectation.idvigile.noms}}</td>
                  <td>{{affectation.remplacant? affectation.remplacant.noms : ""}}</td>
                  <td>{{affectation.arret?.split('T')[0]}}</td>
                  <td><a [routerLink]="'/affectation/view/'+affectation.idaffectation">Voir</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card shadow-1" style="margin-top: 20px;" *ngIf="poste">
          <div style="margin-top: 20px; margin-bottom: 20px;">
            Histrorique des status
          </div>
          <table datatable [dtOptions]="dtOptionsStatut" [dtTrigger]="dtTriggerStatut" class="table row-border hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Poste</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hs of historiqueStatus">
                <td>{{hs.date | date:"yyyy-MM-dd HH:mm"}}</td>
                <td>{{poste.code}}</td>
                <td>{{hs.statut}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card" style="display: none;">
          <div style="margin-top: 20px; margin-bottom: 16px;">
            Equipements reçus non basiques
          </div>
          <div *ngIf="equipementsvigiles.length === 0" style="opacity: 0.5">
            Aucun équipement reçu
          </div>
          <div *ngIf="equipementsvigiles.length  > 0">
            <ng-container *ngFor="let equipement of equipementsvigiles">
              <ng-container *ngIf="equipement.quantite">
                <app-display-equipement [equipement]="equipement"></app-display-equipement>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!exigencesVerifiees" class="page-contenu">
    <div class="card shadow-1">
      <div class="card-body">
        <div>
          <div>
            <div>
              Suggestions d'affectations
              <h5>
                Poste : {{poste.libelle}}
              </h5>
            </div>
          </div>
          <div style="padding: 8px;">
            <app-suggestions-affectations-poste [suggestions]="suggestions"></app-suggestions-affectations-poste>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 25vh;">

  </div>
</div>


<!-- Modal -->
<div class="modal fade" #vigilesPropositionsModal id="vigilesPropositionsModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Choisir le vigile à affecter
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Vigile
              </span>
            </div>
            <input [(ngModel)]="rechercheVigile" (ngModelChange)="getVigiles($event)" type="text" class="form-control"
              placeholder="Rechercher ici..." style="max-width: 150px;">
            <select #vigileElement [(ngModel)]="vigile" (ngModelChange)="getAffectation($event)" class="form-control">
              <ng-container *ngFor="let v of vigiles">
                <option [ngValue]="v" *ngIf="!v.estRemplacant && !v.estRemplacantConge">
                  {{v.noms}}
                </option>
              </ng-container>
            </select>
          </div>
          <div *ngIf="affectation && affectation.idposte">
            Affectation actuelle : {{affectation.idposte.libelle}}
          </div>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Remplacant
              </span>
            </div>
            <input [(ngModel)]="rechercheRemplacant" (ngModelChange)="getRemplacants($event)" type="text"
              class="form-control" placeholder="Rechercher ici..." style="max-width: 150px;">
            <select #vigileElement [(ngModel)]="remplacant" class="form-control">
              <ng-container *ngFor="let v of remplacants">
                <option [ngValue]="v" *ngIf="!v.estRemplacant">
                  {{v.noms}}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn nouveau" (click)="affecter(vigile, remplacant)">
          Affecter ici
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
