<div class="page" style="overflow-y: auto;">
    <div class="page-entete">
        <div *ngIf="poste.idposte!=0" class="page-entete-titre">
            Poste : {{poste.libelle}}, <b>{{poste.horaire | uppercase}}</b>

        </div>
        <div *ngIf="poste.idcontratsite">
            Contrat : {{poste.idcontratsite.idcontrat.libelle}}, Site : {{poste.idcontratsite.nom}},
        </div>
        <div class="">
            <a routerLink="/poste" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des postes
            </a>
        </div>
    </div>
    <div class="boutons">
        <div class="row">
            <div class="col-lg-2">
                <div class="nouveau">
                    <a [routerLink]="'/poste/edit/' + poste.idposte " class="btn nouveau">
                        Modifier
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-contenu">
        <div class="row">
            <div class="col-lg-5">
                <div class="card">
                    <div>
                        <div class="petit-titre">
                            Informations
                        </div>
                        <div>
                            <div>
                                Ville : <a href="#">{{poste.zone?.idville?.libelle}}</a>, Zone : <a href="#">{{poste.zone?.libelle}}</a>, Quartier : <a href="#">{{poste.idquartier?.nom}}</a>
                            </div>
                            <div>
                                Personne à contacter : <a href="#">{{poste.contact}}</a>, Téléphone : {{poste.tel}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="petit-titre">
                            Coordonnées géographiques
                        </div>
                        <div>
                            <div>
                                Laltitude : <a href="#">{{poste.latitude}}</a>, Longitude : <a href="#">{{poste.longitude}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="poste.idcontratsite">
                    <div>
                        <div class="petit-titre">
                            Exigences du contrat :
                            <b>
                                Personnel
                            </b>
                        </div>
                        <div>
                            <div>
                                <ul>
                                    <ng-container *ngFor="let item of exigences">
                                        <li class="element-supprimable" [ngClass]="{'erreur': !verifierExigence(item)}" *ngIf="item.horaire === poste.horaire">
                                            <span>
                                                {{item.quantite}} {{item.typeVigile}} {{item.horaire}}
                                            </span>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="display: none;">
                    <div>
                        <div class="petit-titre">
                            <div style="float: right; display: none;">
                                <button *ngIf="!showFormulaireEquipement" class="btn btn-link" (click)="showFormulaireEquipement = true">
                                    Ajouter une exigence
                                </button>
                                <button *ngIf="showFormulaireEquipement" class="btn btn-link" (click)="showFormulaireEquipement = false">
                                    Annuler
                                </button>
                            </div>
                            Exigences du contrat :
                            <b>
                                Equipements
                            </b>
                        </div>
                        <div>
                            <div *ngIf="showFormulaireEquipement">
                                <div>
                                    Nouvelle exigence du contrat
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Equipement
                                        </span>
                                    </div>
                                    <select type="text" [(ngModel)]="posteequipement.idequipement" class="form-control">
                                        <option [ngValue]="equipement" *ngFor="let equipement of equipements">
                                            {{equipement.libelle}}
                                        </option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Nombre
                                        </span>
                                    </div>
                                    <input type="number" [(ngModel)]="posteequipement.quantite" class="form-control">
                                </div>
                                <div class="input-group" style="margin-top: 20px; margin-bottom: 20px">
                                    <button (click)="ajouterExigenceEquipement()" class="btn primaire">Enregistrer</button>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li class="element-supprimable" [ngClass]="{'erreur': !verifierExigenceMateriel(item)}" *ngFor="let item of posteequipements">
                                        <span>
                                            {{item.quantite}} {{item.idequipement.libelle}}
                                        </span>
                                        <span class="supprimer" (click)="supprimerEquipement(item)" style="color: red;">
                                            Supprimer
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div style="margin-bottom: 10px;">
                        Liste des vigiles titulaires en poste
                        <button class="btn btn-link" style="float: right;" (click)="openModal()">
                            Ajouter un vigile
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" *ngFor="let affectation of affectations">

                            <div style="border: 1px solid #aaa; margin-bottom: 20px;">
                                <app-vigile [vigile]="affectation.idvigile"></app-vigile>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div style="margin-bottom: 10px;">
                        Liste des remplacants
                    </div>
                    <div class="row">
                        <ng-container *ngFor="let affectation of affectations">
                            <div class="col-lg-6" *ngIf="affectation.remplacant">
                                <div style="border: 1px solid #aaa; margin-bottom: 20px;">
                                    <app-vigile [vigile]="affectation.remplacant"></app-vigile>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="card" style="display: none;">
                    <div style="margin-top: 20px; margin-bottom: 16px;">
                        Equipements reçus non basiques
                    </div>
                    <div *ngIf="equipementsvigiles.length === 0" style="opacity: 0.5">
                        Aucun équipement reçu
                    </div>
                    <div *ngIf="equipementsvigiles.length  > 0">
                        <ng-container *ngFor="let equipement of equipementsvigiles">
                            <ng-container *ngIf="equipement.quantite">
                                <app-display-equipement [equipement]="equipement"></app-display-equipement>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 25vh;">

    </div>
</div>


<!-- Modal -->
<div class="modal fade" #vigilesPropositionsModal id="vigilesPropositionsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Propositions d'affectation
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div *ngFor="let exigence of postevigiles">
                        <div *ngIf="!verifierExigenceAgent(exigence)">
                            <div class="exigence">
                                <b>
                                    Exigence :
                                </b> {{exigence.quantite}} {{exigence.typeVigile}} {{exigence.horaire}}
                            </div>

                            <div>
                                <table class="table table-bordered table-dark">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">#</th>
                                            <th style="width: 30%;">Vigile</th>
                                            <th style="width: 30%;">Rempl.</th>
                                            <th style="text-align: center;">Score</th>
                                            <th style="text-align: center;">Sanctions</th>
                                            <th style="text-align: center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let v of vigiles; let i=index">
                                            <tr *ngIf="isVigileVerifieExigence(v, exigence)">
                                                <td style="text-align: center;"> {{i+1}} </td>
                                                <td>
                                                    {{v.noms}}
                                                </td>
                                                <td>
                                                    <div class="input-group input-group-sm" style="margin-top: 0;">
                                                        <select [name]="'remplacant'+i" type="text" class="form-control">
                                                            <option value="0">Aucun remplacant</option>
                                                            <ng-container *ngFor="let r of remplacants">
                                                                <option [value]="r.idvigile"
                                                                    *ngIf="r.jourRepos !== v.jourRepos && r.horaire === v.horaire">
                                                                    {{r.noms}}
                                                                </option>
                                                            </ng-container>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td style="text-align: right;">
                                                    {{score(v, poste)}}
                                                </td>
                                                <td style="text-align: right;">
                                                    {{getSanctions(v)}}
                                                </td>
                                                <td style="text-align: center;">
                                                    <button (click)="affecter(v, i)" type="button" class="btn btn-primary btn-sm">Appliquer</button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>