<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Liste des permissions
        </div>
        <div class="boutons">
            <div class="row">
                <div class="col-lg-3">
                    <div class="nouveau">
                        <a routerLink="/permission/edit" class="btn nouveau">
                            Ajouter une permission
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">
            <div class="page-contenu-corps">
                <div class="card shadow-1">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Noms</th>
                                <th>Début</th>
                                <th>Fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let permission of permissions" (click)="edit(permission)">
                                <td>{{permission.date | date: "yyyy-MM-dd"}}</td>
                                <td>{{permission.idvigile?.noms}}</td>
                                <td>{{permission.dateDebut | date: "yyyy-MM-dd"}}</td>
                                <td>{{permission.dateFin | date: "yyyy-MM-dd"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>