<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Liste des statuts
        </div>
        <div class="boutons">
            <div class="row">
                <div class="col-lg-2">
                    <div class="nouveau">
                        <a routerLink="/statut/edit" class="btn nouveau">
                            Ajouter un statut
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="page-contenu-titre">
            <div class="page-contenu-corps">
                <div class="card shadow-1">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Libellé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let statut of statuts">
                                <td>{{statut.idstatut}}</td>
                                <td>{{statut.libelle}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>