<div class="menu-gauche shadow-1" style="width: 100%;">
    <div class="menu-gauche-titre">
        Menu
    </div>
    <div class="menu-gauche-sous-titre">
        Suivi
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="dashboard">
            Tableau de bord
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="synchroniser">
            Synchroniser
        </a>
    </div>
    <div class="menu-gauche-sous-titre">
        Edition
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="pointage">
            Pointages
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="affectation">
            Affectation
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="switch">
            Switchs
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="sanction">
            Sanctions
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="permission">
            Permissions
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="vigile">
            Vigiles
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="conge">
            Congés
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="poste">
            Postes
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="repos">
            Jours de repos
        </a>
    </div>

    <div class="menu-gauche-sous-titre">
        Paramètres
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="zone">
            Zones
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="ville">
            Villes
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="quartier">
            Quartiers
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="nationalite">
            Nationalités
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="statut">
            Statuts
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="motif">
            Motifs
        </a>
    </div>
    <div class="menu-gauche-sous-titre">
        Etats
    </div>

    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="fiche/planning-incomplet">
            Fiche de pointage
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="vacant/poste">
            Postes vacants
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="vacant/vigile">
            Liste des titulaires vacants
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="vacant/remplacant">
            Planning des remplacants
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="vacant/remplacant-conges">
            Planning des rempl. congés
        </a>
    </div>
    <!-- <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="fiche/vigile-standby">
            Planning incomplet
        </a>
    </div>
    <div class="menu-gauche-item">
        <a routerLinkActive="active" routerLink="fiche/vigile-standby">
            Remplacants vacants
        </a>
    </div> -->
</div>