<div *ngFor="let pointage of pointages" class="pointage" [ngClass]="{'red': pointage.absence}">

  <b style="width: 200px; text-align: center;">
    {{pointage.matricule}}
  </b>
  <span style="width: 500px; display: inline-block; flex: 1 1 auto">
    {{pointage.nomsVigile}}
  </span>
  <b style="width: 400px; white-space: no-wrap;">
    <ng-container *ngIf="getAffection(pointage.idvigile)">
      {{getAffection(pointage.idvigile)?.idposte?.libelle}}
    </ng-container>
  </b>
  <b style="width: 400px; white-space: no-wrap; text-align: center;">
    <ng-container *ngIf="getAffection(pointage.idvigile)">
      {{getAffection(pointage.idvigile)?.idposte?.zone?.code}}
    </ng-container>
  </b>
  <span style="width: 300px; white-space: no-wrap; text-align: right;">
    {{pointage.date.toDate() | date:"dd-MM-yyyy HH:mm:ss"}}
  </span>
  <span style="width: 20px;">

  </span>
</div>