<div class="app-poste" [ngClass]="{'vacant': !notVacant}" (click)="goTo()">
    <span *ngIf="!notVacant" style="float: right; color:red">
        VACANT
    </span>
    <div class="cliquable">
        <b>
            {{poste.libelle}}
        </b>
    </div>
    <div>
        <span *ngIf="poste.zone">
            Zone : {{poste.zone?.libelle}},
        </span>
        <span *ngIf="poste.horaire">
            Horaire : {{poste.horaire | uppercase}}
        </span>
    </div>
    <div>

        <div>
            <ng-container *ngFor="let item of exigences">
                <li class="element-supprimable" [ngClass]="{'erreur': !isExigenceVerifiee(item)}" *ngIf="item.horaire === poste.horaire">
                    <span>
                        {{item.quantite}} {{item.typeVigile}}
                    </span>
                </li>
            </ng-container>
        </div>
    </div>
</div>