<div class="page">
    <div class="page-entete">
        <div *ngIf="affectation.idaffectation==0" class="page-entete-titre">
            Ajouter une nouveau affectation
        </div>
        <div *ngIf="affectation.idaffectation!=0" class="page-entete-titre">
            Modifier le affectation
        </div>
        <div class="">
            <a routerLink="/affectation" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des affectations
            </a>
        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">

            <div *ngIf="etape === 1" class="page-contenu-corps">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Date affectation
                                </span>
                            </div>
                            <input [(ngModel)]="affectation.dateAffectation" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Poste
                                </span>
                            </div>
                            <select type="text" [(ngModel)]="affectation.idposte" class="form-control">
                                <option [ngValue]="poste" *ngFor="let poste of postes">
                                    {{poste.libelle}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Horaire
                                </span>
                            </div>
                            <select [(ngModel)]="affectation.horaire" class="form-control">
                                <option value="jour">Jour</option>
                                <option value="nuit">Nuit</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Vigile
                                </span>
                            </div>
                            <select type="text" [(ngModel)]="affectation.idvigile" class="form-control">
                                <option [ngValue]="vigile" *ngFor="let vigile of vigiles">
                                    {{vigile.noms}}
                                </option>
                            </select>
                        </div>
                        <small *ngIf="affectation.idvigile">
                            Jour de repos : {{affectation.idvigile ? jourSemaine(affectation.idvigile.jourRepos) :
                            "Aucun jour défini"}}
                        </small>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Remplacant
                                </span>
                            </div>
                            <select type="text" [(ngModel)]="affectation.remplacant" class="form-control">
                                <option *ngIf="!affectation.idvigile">Veuillez choisir premièrement un vigile</option>
                                <ng-container *ngFor="let vigile of vigiles">
                                    <option [ngValue]="vigile"
                                        *ngIf="affectation.idvigile && affectation.idvigile.idvigile != vigile.idvigile && vigile.estRemplacant">
                                        {{vigile.noms}}
                                    </option>
                                </ng-container>
                            </select>
                        </div>
                        <small *ngIf="affectation.idvigile">
                            Jour de repos : {{affectation.remplacant ? jourSemaine(affectation.remplacant?.jourRepos) :
                            "Aucun jour défini"}},
                            Statut : {{affectation.remplacant ? affectation.remplacant.statut ?
                            affectation.remplacant?.statut :
                            "Aucun statut" :
                            "..."}}
                        </small>
                    </div>
                </div>
                <div class="input-group">
                    <button [disabled]="processing" (click)="terminerEtape1()" class="btn nouveau">Enregistrer</button> &nbsp;
                    <button *ngIf="affectation.idaffectation != 0" [disabled]="processing" (click)="supprimer()" class="btn btn-danger">Supprimer</button>
                </div>
            </div>

            <div *ngIf="etape === 2" class="page-contenu-corps">
                <div>
                    Détails du poste : {{affectation.idposte.libelle}}
                </div>

                <table class="table row-border hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Zone</th>
                            <th>Libellé</th>
                            <th>Contrat</th>
                            <th class="text-right">Nbr Vigil Jr.</th>
                            <th class="text-right">Nbr Vigil Aff Jr.</th>
                            <th class="text-right">Nbr Vigil Nt.</th>
                            <th class="text-right">Nbr Vigil Aff Nt.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{affectation.idposte.idposte}}</td>
                            <td>{{affectation.idposte.zone.libelle}}</td>
                            <td>{{affectation.idposte.libelle}}</td>
                            <td>{{affectation.idposte.contrat}}</td>
                            <td class="text-right">
                                {{affectation.idposte.nombreVigileJour ? affectation.idposte.nombreVigileJour : 0}}
                            </td>
                            <td class="text-right">
                                <div class="nombre" [ngClass]="{'red': affectation.idposte.nombreVigileJour  > getNombreAffectationJour(affectation.idposte) + impactNouvelleAffectation('jour')}">
                                    {{getNombreAffectationJour(affectation.idposte)}} -> {{getNombreAffectationJour(affectation.idposte) + impactNouvelleAffectation("jour")}}
                                </div>
                            </td>
                            <td class="text-right">
                                {{affectation.idposte.nombreVigileNuit ? affectation.idposte.nombreVigileNuit:0}}
                            </td>
                            <td class="text-right">
                                <div class="nombre" [ngClass]="{'red': affectation.idposte.nombreVigileJour > getNombreAffectationJour(affectation.idposte) + impactNouvelleAffectation('nuit')}">
                                    {{getNombreAffectationNuit(affectation.idposte)}} -> {{getNombreAffectationNuit(affectation.idposte) + impactNouvelleAffectation('nuit')}}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    En ajoutant cette affectation, vous mettrez l'affectation suivante à l'arrêt
                </div>
                <table class="table row-border hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Poste</th>
                            <th>Vigile</th>
                            <th>Repos</th>
                            <th>Remplacant</th>
                            <th>Arrêt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let aff of affectationsAffectees">
                            <td>{{aff.idaffectation}}</td>
                            <td>{{aff.dateAffectation?.split('T')[0]}}</td>
                            <td>{{aff.idposte.libelle}}</td>
                            <td>{{aff.idvigile.noms}}</td>
                            <td>{{jourSemaine(aff.idvigile.jourRepos)}}</td>
                            <td>{{aff.remplacant? affectation.remplacant.noms : ""}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-sm">
                                    {{affectation.dateAffectation?.split('T')[0]}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="input-group">
                    <button [disabled]="processing" (click)="save()" class="btn btn-primary">Enregistrer</button> &nbsp;
                    <button [disabled]="processing" (click)="annuler()" class="btn">Annuler</button> &nbsp;
                </div>

            </div>
        </div>
    </div>