<table *ngIf="!(isReady && contrat.idcontrat!=0)">
    Récupération de l'historique...
</table>
<table *ngIf="(isReady && contrat.idcontrat!=0)" class="table row-border hover table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Sites</th>
            <th>Vig. Jr</th>
            <th>Vig. Nt</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of contratsHistoriques" [ngClass]="{'contrat-encours': c.idcontrat == contrat.idcontrat}">
            <td>{{c.date | date: 'yyyy-MM-dd HH:mm'}}</td>
            <td>{{c.description}}</td>
            <td>{{c.nbPostes}}</td>
            <td>{{c.nbVigileJour}}</td>
            <td>{{c.nbVigileNuit}}</td>
        </tr>
    </tbody>
</table>