<div class="page">
    <div class="page-entete">
        <div *ngIf="affectation.idvigile" class="page-entete-titre">
            {{affectation.idvigile.noms}}
        </div>
        <div class="">
            <a routerLink="/affectation" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des affectations
            </a>
        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">

            <div class="page-contenu-corps">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Date affectation
                                </span>
                            </div>
                            <input readonly [value]="affectation.dateAffectation | date: 'yyyy-MM-dd'" type="date" class="form-control">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Poste
                                </span>
                            </div>
                            <input readonly [value]="affectation.idposte?.libelle" class="form-control">
                        </div>
                        <div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Vigile
                                    </span>
                                </div>
                                <input readonly type="text" [value]="affectation.idvigile?.noms" class="form-control">
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Remplacant
                                </span>
                            </div>
                            <input readonly type="text" [value]="affectation.remplacant?.noms" class="form-control">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Date de fin d'affectation
                                </span>
                            </div>
                            <input [ngModel]="affectation.arret | date: 'yyyy-MM-dd'" (ngModelChange)="affectation.arret = $event" type="date" class="form-control">
                        </div>

                        <div>
                            <button [disabled]="!affectation.arret" (click)="arreter()" class="btn btn-danger">
                                Arrêter cette affectation
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style="height: 25vh;">

    </div>