<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Jours de repos
        </div>
        <div class="">
            <a routerLink="/vigile/edit" class="btn btn-link" style="padding: 0; margin: 0;">
                Ajouter un vigile
            </a>
        </div>
    </div>
    <div *ngIf="afficher">
        <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend">
            </canvas>
        </div>
    </div>
    <div class="page-contenu">
    </div>
</div>