<div class="page">
    <div class="page-entete">
        <div *ngIf="contrat.idcontrat!=0" class="page-entete-titre">
            Contrat : {{contrat.libelle}}
        </div>
        <div>Date de signature : {{contrat.dateSignature | date: 'yyyy-MM-dd'}}, Date de début : {{contrat.dateDebut | date: 'yyyy-MM-dd'}}</div>
        <div style="margin-top: 0px;">
            <i>
                {{contrat.description}}
            </i>
        </div>
        <div class="">
            <a routerLink="/contrat" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des contrats
            </a>
        </div>
    </div>
    <div class="boutons">
        <div class="row">
            <div class="col-lg-2">
                <div class="nouveau">
                    <a [routerLink]="'/contrat/edit/' + contrat.idcontrat " class="btn nouveau">
                        Modifier
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-contenu">
        <div class="row">
            <div class="col-3">
                <div class="stat" [ngClass]="{'red': sites.length!==contrat.nbPostes}">
                    <div class="stat-titre">
                        Sites
                    </div>
                    <div class="stat-valeur">
                        {{sites.length}}/{{contrat.nbPostes}}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="stat" [ngClass]="{'red': postes.length === 0 || (postes.length!==(postesJourDansLesExigences + postesNuitDansLesExigences))}">
                    <div class="stat-titre">
                        Postes
                    </div>
                    <div class="stat-valeur">
                        {{postes.length}}/{{postesJourDansLesExigences + postesNuitDansLesExigences}}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="stat" [ngClass]="{'red': vigilesJourDansLesExigences!==contrat.nbVigileJour}">
                    <div class="stat-titre">
                        Vigiles Jour
                    </div>
                    <div class="stat-valeur">
                        {{vigilesJourDansLesExigences}}/{{contrat.nbVigileJour}}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="stat" [ngClass]="{'red': vigilesNuitDansLesExigences!==contrat.nbVigileNuit}">
                    <div class="stat-titre">
                        Vigiles Nuit
                    </div>
                    <div class="stat-valeur">
                        {{vigilesNuitDansLesExigences}}/{{contrat.nbVigileNuit}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-contenu">
        <div style="margin-bottom: 16px;">
            Liste des sites

            <button *ngIf="sites.length < contrat.nbPostes" (click)="openModal()" style="margin-left: 10px;" class="btn btn-link">
                Créer un site
            </button>
        </div>
        <div class="row">
            <div class="col-lg-4" *ngFor="let site of sites">

                <div class="site">
                    <app-display-site [site]="site" [nbAutorisationJour]="contrat.nbVigileJour - vigilesJourDansLesExigences" [nbAutorisationNuit]="contrat.nbVigileNuit - vigilesNuitDansLesExigences" (onVigileCalcul)="getData(site, $event)">

                    </app-display-site>
                    <div class="suppression">
                        <button (click)="supprimerSite(site)" class="btn btn-danger btn-error" style="width: 100%;">
                            Supprimer
                        </button>
                    </div>
                </div>

                <div style="margin-top: 20px; margin-bottom:5px;">
                    Liste des postes
                </div>

                <div class="" *ngFor="let poste of postes">
                    <div *ngIf="poste.idcontratsite?.idcontratSite === site.idcontratSite">
                        <app-display-poste (isNotVacant)="getDataVacant(poste, $event)" [affectations]="affectations" [poste]="poste" [postesVigiles]="postesVigiles"></app-display-poste>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-contenu">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div style="margin-top: 20px; margin-bottom: 20px;">
                        Historique du contrat
                    </div>
                    <div class="card">
                        <div class="page-contenu-corps ">
                            <table class="table row-border hover ">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Postes</th>
                                        <th>Vig. Jr</th>
                                        <th>Vig. Nt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{contrat.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{contrat.description}}</td>
                                        <td>{{contrat.nbPostes}}</td>
                                        <td>{{contrat.nbVigileJour}}</td>
                                        <td>{{contrat.nbVigileNuit}}</td>
                                    </tr>
                                    <tr *ngFor="let c of contrats ">
                                        <td>{{c.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{c.description}}</td>
                                        <td>{{c.nbPostes}}</td>
                                        <td>{{c.nbVigileJour}}</td>
                                        <td>{{c.nbVigileNuit}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 25vh;">

</div>


<!-- Modal -->
<div class="modal fade" #posteModal id="posteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Ajouter un site à ce contrat : {{contrat.nom}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="categorie" style="margin-top: 0;">
                            Informations sur le site
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Nom du site
                                </span>
                            </div>
                            <input type="text" [(ngModel)]="site.nom" class="form-control" [ngClass]="{'is-invalid': montrerErreurs && erreurs.nom}">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <datalist id="quartiers">
                            <option [value]="q.nom" *ngFor="let q of quartiers">{{q.nom}}</option>
                        </datalist>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Quartier
                                </span>
                            </div>
                            <input list="quartiers" type="text" [(ngModel)]="quartier" class="form-control" [ngClass]="{'is-invalid': montrerErreurs && erreurs.quartier}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Personne à contacter
                                </span>
                            </div>
                            <input type="text" [(ngModel)]="site.personne" class="form-control" [ngClass]="{'is-invalid': montrerErreurs && erreurs.personne}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Tel
                                </span>
                            </div>
                            <input type="text" [(ngModel)]="site.tel" class="form-control" [ngClass]="{'is-invalid': montrerErreurs && erreurs.tel}">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="input-group">

                            <span class="input-group-text">
                                Description
                                <br>
                                Localisation
                            </span>
                            <textarea [(ngModel)]="site.description" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button (click)="saveSite()" type="button" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>