<div class="page">
    <div class="page-entete">
        <div *ngIf="vigile.idvigile==0" class="page-entete-titre">
            Ajouter un nouveau vigile
        </div>
        <div *ngIf="vigile.idvigile!=0" class="page-entete-titre">
            Modifier le vigile
        </div>
        <div class="">
            <a routerLink="/vigile" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des vigiles
            </a>
        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">
            <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                        Informations personnelles
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                        Equipements
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">
                        Dernières affectations
                    </a>
                </li>
                <li *ngIf="vigile.idvigile != 0" class="nav-item" role="presentation">
                    <a class="nav-link " id="photo-tab" data-bs-toggle="tab" data-bs-target="#photo" type="button" role="tab" aria-controls="photo" aria-selected="false">
                        Photo
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-contenu-titre">
            <div class="tab-content" id="myTabContent">
                <div *ngIf="vigile.idvigile != 0" class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                    <img [src]="url" height="200"> <br />
                    <input type='file' (change)="onSelectFile($event)">
                </div>
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="page-contenu-corps">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Matricule
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="vigile.matricule" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Numéro
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="vigile.numero" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Horaire
                                        </span>
                                    </div>
                                    <select [(ngModel)]="vigile.horaire" class="form-control">
                                        <option value="jour">Jour</option>
                                        <option value="nuit">Nuit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Noms
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="vigile.noms" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Date de naissance
                                        </span>
                                    </div>
                                    <input [(ngModel)]="vigile.dteNce" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Numéro CNI
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="vigile.mumCni" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Ville
                                        </span>
                                    </div>
                                    <select type="text" [(ngModel)]="vigile.ville" class="form-control">
                                        <option [ngValue]="ville" *ngFor="let ville of villes">
                                            {{ville.libelle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Zone
                                        </span>
                                    </div>
                                    <select type="text" [(ngModel)]="vigile.zone" class="form-control">
                                        <option [ngValue]="zone" *ngFor="let zone of zones">
                                            {{zone.libelle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Quartier
                                        </span>
                                    </div>
                                    <select type="text" [(ngModel)]="vigile.quartier" class="form-control">
                                        <ng-container *ngFor="let quartier of quartiers">
                                            <option
                                                *ngIf="vigile.zone && quartier.idzone && vigile.zone.idzone === quartier.idzone.idzone"
                                                [ngValue]="quartier">
                                                {{quartier.nom}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Nationalité
                                        </span>
                                    </div>
                                    <select type="text" [(ngModel)]="vigile.nationalite" class="form-control">
                                        <option [ngValue]="nationalite" *ngFor="let nationalite of nationalites">
                                            {{nationalite.libelle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Téléphone
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="vigile.tel" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Fonction
                                        </span>
                                    </div>
                                    <select [(ngModel)]="vigile.fonction" class="form-control">
                                        <option value="AGENT">Agent de sécurité</option>
                                        <option value="ESCORTEUR">Escorteur</option>
                                        <option value="CONTROLEUR">Contrôleur</option>
                                        <option value="CHAUFFEUR">Chauffeur</option>
                                        <option value="MAITRECHIEN">Maitre Chien</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Date entrée
                                        </span>
                                    </div>
                                    <input [(ngModel)]="vigile.dateEntree" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Date sortie
                                        </span>
                                    </div>
                                    <input [(ngModel)]="vigile.dateSortie" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Date début congés
                                        </span>
                                    </div>
                                    <input [(ngModel)]="vigile.debutConge" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Date fin congés
                                        </span>
                                    </div>
                                    <input [(ngModel)]="vigile.finConge" type="date" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Statut
                                        </span>
                                    </div>
                                    <select [(ngModel)]="vigile.statut" class="form-control">
                                        <option [value]="1">Absent[e]</option>
                                        <option [value]="2">Actif[ve]</option>
                                        <option [value]="3">Licencié(e)</option>
                                        <option [value]="4">Standby</option>
                                        <option [value]="5">Suspendu[e]</option>
                                        <option [value]="6">Démissionné[e]</option>
                                        <option [value]="7">Décédé[e]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Jour de repos
                                        </span>
                                    </div>
                                    <select [(ngModel)]="vigile.jourRepos" class="form-control">
                                        <option [value]="1">Lundi</option>
                                        <option [value]="2">Mardi</option>
                                        <option [value]="3">Mercredi</option>
                                        <option [value]="4">Jeudi</option>
                                        <option [value]="5">Vendredi</option>
                                        <option [value]="6">Samedi</option>
                                        <option [value]="7">Dimanche</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Parrain
                                        </span>
                                    </div>
                                    <input [(ngModel)]="vigile.statut" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <button [disabled]="processing" (click)="save()" class="btn btn-primary">Enregistrer</button> &nbsp;
                            <button *ngIf="vigile.idvigile != 0" [disabled]="processing" (click)="remplacant()" class="btn btn-primary">Définir comme remplacant</button> &nbsp;
                            <button *ngIf="vigile.idvigile != 0" [disabled]="processing" (click)="supprimer()" class="btn btn-danger">Supprimer</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Casquette
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Porte matraque
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Pull over
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Chemisette
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Matraque/toufa
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Manteau
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Sifflet
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Combinaison MC
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Epaulettes
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Pantalon
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Veste
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Fourragère
                                        </span>
                                    </div>
                                    <input type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="page-contenu-corps">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Poste</th>
                                    <th>Vigile</th>
                                    <th>Repos</th>
                                    <th>Remplacant</th>
                                    <th>Arrêt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let affectation of affectations" (click)="edit(affectation.idaffectation)">
                                    <td>{{affectation.dateAffectation?.split('T')[0]}}</td>
                                    <td>{{affectation.idposte.libelle}}</td>
                                    <td>{{affectation.idvigile.noms}}</td>
                                    <td>{{jourSemaine(affectation.idvigile.jourRepos)}}</td>
                                    <td>{{affectation.remplacant? affectation.remplacant.noms : ""}}</td>
                                    <td>{{affectation.arret?.split('T')[0]}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div style="height: 25vh;">

            </div>
        </div>
    </div>