<div class="page">
  <div class="page-entete">
    <div class="page-entete-titre">
      Liste des affectations temporaires
    </div>
    <div class="boutons">

      <div class="row">
        <div class="col-lg-3" *ngIf="mesDroits.affectationEdit">
          <div class="nouveau">
            <a routerLink="/affectation-temporaire/edit" class="btn nouveau">
              Ajouter une affectation temporaire
            </a>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Horaire
              </span>
            </div>
            <select [(ngModel)]="horaire" class="form-control">
              <option value="tous">Tous</option>
              <option value="jour">Jour</option>
              <option value="nuit">Nuit</option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Zone
              </span>
            </div>

            <select type="text" [(ngModel)]="zone" class="form-control">
              <ng-container *ngFor="let z of zones">
                <option [ngValue]="z" *ngIf="horaire === 'tous' || (z.horaire && z.horaire === horaire)">
                  {{z.libelle}}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="col-lg-2">
          <button class="btn primaire" (click)="rechercher(horaire)">Rechercher</button>
        </div>
      </div>
    </div>
    <div class="boutons">
      <div class="row">
        <div class="col-lg-12">
          <div class="type">
            <input (ngModelChange)="afficherAffectationsEnCours($event)" [(ngModel)]="afficher" value="encours"
              type="radio" name="afficher"> &nbsp;En cours ({{encours().length}}) &nbsp;&nbsp;
            <input (ngModelChange)="afficherAffectationsEnCours($event)" [(ngModel)]="afficher" value="arret"
              type="radio" name="afficher"> &nbsp;Arrêtées ({{resultats.length - encours().length}})&nbsp;&nbsp;
            <input (ngModelChange)="afficherAffectationsEnCours($event)" [(ngModel)]="afficher" value="tous"
              type="radio" name="afficher"> &nbsp;Toutes ({{resultats.length}}) &nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div style="color: red;">
      <span style="margin-right: 50px;">
        {{sansRemplacants().length}} affectations sans remplacants
      </span>
      <span>
        {{sansJourRepos().length}} affectations sans jour de repos
      </span>

    </div>

    <div class="page-contenu-corps">
      <div class="card shadow-1">
        <div style="margin-bottom: 15px;">
          <div>
            <a (click)="mettreToutEnLigne()" class="btn btn-sm btn-link">
              Mettre les affectations en ligne
            </a>
          </div>
        </div>
        <div>
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Poste</th>
                <th>Zone</th>
                <th>Horaire</th>
                <th>Vigile</th>
                <th>en Ligne</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let affectation of resultats">
                <td>{{affectation.idaffectation}}</td>
                <td noWrap>{{affectation.dateAffectation?.split('T')[0]}}</td>
                <td>{{affectation.idposte?.libelle}}</td>
                <td>{{affectation.idposte?.zone.libelle}}</td>
                <td>{{affectation.idposte?.zone?.horaire}}</td>
                <td>{{affectation.idvigile?.noms}}</td>
                <td>
                  <button class="btn btn-sm" (click)="mettreEnLigneTemporaire(affectation)">
                    Mettre en ligne
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
