<div class="page">
    <div class="page-entete">
        <div *ngIf="contrat.idcontrat===0" class="page-entete-titre">
            Ajouter un nouveau contrat
        </div>
        <div *ngIf="contrat.idcontrat!=0" class="page-entete-titre">
            Contrat : {{contrat.libelle}}
        </div>
        <div class="">
            <a routerLink="/contrat" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des contrats
            </a>
        </div>
    </div>
    <div class="page-contenu">
        <div class="">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                        Informations
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" aria-current="page" data-bs-toggle="tab" data-bs-target="#postes" type="button" role="tab" aria-controls="postes" aria-selected="true">
                        Historique
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent" style="background-color: #fff; padding: 10px; padding-left: 16px; padding-right: 16px; padding-top: 2px;">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div>
                    <div class="categorie">
                        Libellé du contrat
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Libellé
                                    </span>
                                </div>
                                <input [(ngModel)]="contrat.libelle" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="categorie">
                        Période de la prestation
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Date de la signature du contrat
                                    </span>
                                </div>
                                <input [ngModel]="contrat.dateSignature | date:'yyyy-MM-dd'" (ngModelChange)="contrat.dateSignature = $event" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Date début de la prestation
                                    </span>
                                </div>
                                <input [ngModel]="contrat.dateDebut | date:'yyyy-MM-dd'" (ngModelChange)="contrat.dateDebut = $event" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Date de fin prévue
                                    </span>
                                </div>
                                <input [ngModel]="contrat.dateFin | date:'yyyy-MM-dd'" (ngModelChange)="contrat.dateFin = $event" type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="categorie">
                        Détails du client
                    </div>
                    <div>
                        <input (change)="choisirClient(0)" type="radio" name="client" [checked]="contrat && contrat.particulier"> Particulier &nbsp;&nbsp;
                        <input (change)="choisirClient(1)" type="radio" name="client" [checked]="contrat && !contrat.particulier"> Entreprise
                    </div>
                    <div *ngIf="contrat && contrat?.particulier" class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nom</span>
                                </div>
                                <input [(ngModel)]="contrat.nom" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Prénom</span>
                                </div>
                                <input [(ngModel)]="contrat.prenom" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tel</span>
                                </div>
                                <input [(ngModel)]="contrat.tel" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                <input [(ngModel)]="contrat.email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">CNI/Passeport</span>
                                </div>
                                <input [(ngModel)]="contrat.numero" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="contrat && !contrat?.particulier" class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nom de l'entreprise</span>
                                </div>
                                <input [(ngModel)]="contrat.nom" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Raison sociale</span>
                                </div>
                                <input [(ngModel)]="contrat.raison" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Tel</span>
                                </div>
                                <input [(ngModel)]="contrat.tel" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                <input [(ngModel)]="contrat.email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nom du représentant légal</span>
                                </div>
                                <input [(ngModel)]="contrat.representant" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nom du représentant légal</span>
                                </div>
                                <input [(ngModel)]="contrat.adresse" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="categorie">
                        Description de la prestation : Les informations ci-dessous créent un avenant lorsqu'elles sont modifiées
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre de postes</span>
                                </div>
                                <input [(ngModel)]="contrat.nbPostes" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre de vigiles jour</span>
                                </div>
                                <input [(ngModel)]="contrat.nbVigileJour" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nombre de vigiles nuit</span>
                                </div>
                                <input [(ngModel)]="contrat.nbVigileNuit" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-group">

                                <div class="input-group-text">Description</div>

                                <textarea [(ngModel)]="contrat.description" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group" style="margin-top: 20px; margin-bottom: 20px;">
                    <button (click)="save()" class="btn nouveau">
                        Enregistrer
                    </button>&nbsp;
                    <button *ngIf="contrat.idcontrat != 0" (click)="supprimer()" class="btn btn-danger">Supprimer</button>
                </div>
            </div>
            <div class="tab-pane" id="postes" role="tabpanel" aria-labelledby="postes-tab">
                <div>
                    <div style="margin-top: 20px">
                        Historique du contrat
                    </div>
                    <div class="">

                        <div class="page-contenu-corps ">
                            <table class="table row-border hover ">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Postes</th>
                                        <th>Vig. Jr</th>
                                        <th>Vig. Nt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{contrat.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{contrat.description}}</td>
                                        <td>{{contrat.nbPostes}}</td>
                                        <td>{{contrat.nbVigileJour}}</td>
                                        <td>{{contrat.nbVigileNuit}}</td>
                                    </tr>
                                    <tr *ngFor="let c of contrats ">
                                        <td>{{c.date | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{c.description}}</td>
                                        <td>{{c.nbPostes}}</td>
                                        <td>{{c.nbVigileJour}}</td>
                                        <td>{{c.nbVigileNuit}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 10vmin;">

</div>