.input-group {
    margin-top: 10px;
}

.categorie {
    opacity: 0.5;
    margin-top: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    font-size: 14px;
}

.exigence-poste {
    border: 1px solid #303030;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.historique {
    list-style: none;
    li:before {
        content: '- ';
    }
    li.supprimee:before {
        content: '✓ ';
        color: green;
    }
}