<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Liste des contrats
        </div>
        <div class="boutons">
            <div class="row">
                <div class="col-lg-2">
                    <div class="nouveau">
                        <a routerLink="/contrat/edit" class="btn nouveau">
                            Ajouter un contrat
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn primaire">Rechercher</button>
                </div>
            </div>
        </div>
    </div>
    <div class=" page-contenu ">
        <div class="card shadow-1 ">
            <div class="page-contenu-corps ">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Libellé</th>
                            <th>Date Signature</th>
                            <th>Début</th>
                            <th>Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contrat of contrats " (click)="edit(contrat.idcontrat) ">
                            <td>{{contrat.idcontrat}}</td>
                            <td>{{contrat.libelle}}</td>
                            <td>{{contrat.dateSignature | date: 'yyyy-MM-dd'}}</td>
                            <td>{{contrat.dateDebut | date: 'yyyy-MM-dd'}}</td>
                            <td>
                                <ng-container *ngIf="contrat.dateFin">

                                    {{contrat.dateFin}}
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>