<div class="page">
  <div class="page-entete">
    <div class="page-entete-titre">
      Liste des sites
    </div>
    <div class="boutons">

      <div class="row">
        <!-- <div class="col-lg-2">
                  <div class="nouveau">
                      <a routerLink="/quartier/edit" class="btn nouveau">
                          Ajouter un quartier
                      </a>
                  </div>
              </div> -->

        <!-- <div class="col-lg-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Zone
              </span>
            </div>

            <select [(ngModel)]="zone" class="form-control">
              <option [ngValue]="null">Toutes les zones</option>
              <option [ngValue]="z" *ngFor="let z of zones">
                {{z.libelle}}
              </option>
            </select>
          </div>
        </div> -->

        <div class="col-lg-9">
          <input type="radio" name="siteOptions" (change)="onRadioChange('tous')" /> Tous {{sites.length}}
          &nbsp;
          &nbsp;
          <input type="radio" name="siteOptions" (change)="onRadioChange('avecCoordonnees')" />
          Afficher les sites ayant des coordonnées {{sitesAvec.length}}
          &nbsp;
          &nbsp;
          <input type="radio" name="siteOptions" (change)="onRadioChange('sansCoordonnees')" />
          Afficher les sites sans coordonnées {{sitesSans.length}}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" (click)="verifier()" [disabled]="isLoadingVerifier">
        Verifier les sites en ligne
        <span *ngIf="isLoadingVerifier" class="spinner-border spinner-border-sm" role="status"
          aria-hidden="true"></span>
      </button>
      &nbsp;
      &nbsp;
      <button *ngIf="verificationEffectuee" class="btn btn-success" (click)="mettreLesSitesEnLigne()"
        [disabled]="isLoadingVerifier">
        Mettre les {{sitesPasEncoreEnLigne.length}} sites en ligne
      </button>
      &nbsp;
      &nbsp;
      <button *ngIf="verificationEffectuee" class="btn btn-primaire" (click)="importerLesCoordonnes()"
        [disabled]="isLoadingVerifier">
        Importer les coordonnées prises des {{sitesAImporter.length}} sites
      </button>
    </div>
    <div class="mb-1">
      On dispose de {{contratSitesEnLigne.length}} sites en ligne dont {{contratSitesEnLigneWithCoordonnees.length}}
      avec des
      coordonnées, {{sitesPasEncoreEnLigne.length}} sites n'ont pas
      encore été mis en ligne,
      <ng-container *ngIf="verificationEffectuee && isCliquedMettreLesSitesEnLigne">
        {{sitesMisEnLigne.length}} sur {{sitesPasEncoreEnLigne.length}}
      </ng-container>
      <ng-container *ngIf="verificationEffectuee && isCliquedImporter">
        {{sitesImportees.length}} sur {{sitesAImporter.length}}
      </ng-container>

    </div>
    <div class="mb-1" *ngIf="isCliquedMettreLesSitesEnLigne">
      <div style="background-color: #aaa; text-align: center; padding: 0px;" *ngIf="verificationEffectuee">
        <div style="background-color: orange;  padding: 2px; height: 10px;"
          [ngStyle]="{'width': (sitesMisEnLigne.length / sitesPasEncoreEnLigne.length)*100+'%'}">

        </div>
      </div>
      <div style="text-align: center;">
      </div>
    </div>
    <div class="mb-1" *ngIf="isCliquedImporter">
      <div style="background-color: #aaa; text-align: center; padding: 0px;" *ngIf="verificationEffectuee">
        <div style="background-color: orange;  padding: 2px; height: 10px;"
          [ngStyle]="{'width': (sitesImportees.length / sitesAImporter.length)*100+'%'}">

        </div>
      </div>
      <div style="text-align: center;">
      </div>
    </div>
    <div class="page-contenu">
      <div class="page-contenu-titre">
        <div class="page-contenu-corps">
          <div class="card shadow-1">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nom</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>En Ligne</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let site of resultats" (click)="edit(site.idcontratSite)">
                  <td>{{site.idcontratSite}}</td>
                  <td>{{site.nom}}</td>
                  <td>{{site.latitude}}</td>
                  <td>{{site.longitude}}</td>
                  <td>
                    <div style="opacity: 0; width: 50px; display: inline-block;">{{site.enLigne}} </div>
                    <input type="checkbox" [checked]="site.enLigne" readonly>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>