<div class="page" *ngIf="utilisateur">
    <div class="page-entete">
        <div class="page-entete-titre">
            {{utilisateur.noms}}
        </div>
        <div class="">
            <a routerLink="/utilisateur" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des utilisateurs
            </a>
        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">

            <div class="page-contenu-corps">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title">
                                    Fonctionnalités
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <div>SUIVI</div>
                                            <div class="sous-fonctions">
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.dashboard" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Tableau de bord </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.pointage" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Pointage</label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.repos" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Jours de repos
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.congeDashboard"
                                                        class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">
                                                        Congés : Tableau de bord
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.conge" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Congés : Vigiles
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.congeEdit" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Congés Modification
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div>EDITION</div>
                                            <div class="sous-fonctions">
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.contrat" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Contrats Consultation</label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.contratEdit" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Contrats Modification</label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.poste" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Postes Consultation </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.posteEdit" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Postes Modification</label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.vigile" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Vigiles Consultation
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.vigileEdit" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Vigiles Modification
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.responsable" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Responsables
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.affectation" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Affectations Consultation
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.affectationEdit"
                                                        class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">
                                                        Affectations Modification
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.switchs" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Switchs
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.sanction" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Sanctions Consultation
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.sanctionEdit" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Sanctions Modification
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.permission" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Permissions
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.vigileBadge" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Vigiles Badges
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <div>ENROLEMENT</div>
                                            <div class="sous-fonctions">
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.enrolement" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">
                                                        Enrolement de vigiles
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.enrolementEdit"
                                                        class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">
                                                        Vigiles enrôlés
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div>RECOUVREMENTS</div>
                                            <div class="sous-fonctions">
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.recouvrement" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Voir tout (Bêta) </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div>ETATS</div>
                                            <div class="sous-fonctions">
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.postevacant" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Postes vacants </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.titulairevacant"
                                                        class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">Titulaires vacants </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.planningremplacant"
                                                        class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">Plannig des remplacants </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.planningremplacantconge"
                                                        class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">Plannig des remplacants congés
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.fichepointage"
                                                        class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">Fiches de pointages
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div>PARAMETRES</div>
                                            <div class="sous-fonctions">
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.zone" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Zones </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.ville" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Villes </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.quartier" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Quartiers </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.nationalite" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Nationalités </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.equipement" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Equipements </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.statut" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Statuts </label>
                                                </div>
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.motif" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Motifs </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div>SECURITE</div>
                                            <div class="sous-fonctions">
                                                <div class="form-check">
                                                    <input [(ngModel)]="lesDroits.utilisateur" class="form-check-input"
                                                        type="checkbox">
                                                    <label class="form-check-label">Utilisateurs </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <button [disabled]="processing" (click)="saveDroits()"
                                        class="btn btn-primary">Enregistrer
                                        les droits</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-title">
                                    Informations de base
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Login <app-required></app-required>
                                        </span>
                                    </div>
                                    <input disabled type="text" [(ngModel)]="utilisateur.login" class="form-control"
                                        [ngClass]="{'is-invalid': showErrors && !utilisateur.login}">
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Noms <app-required></app-required>
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="utilisateur.noms" name="date" class="form-control"
                                        [ngClass]="{'is-invalid': showErrors && !utilisateur.noms}">
                                </div>
                                <div class="input-group">
                                    <button [disabled]="processing" (click)="modifier()"
                                        class="btn btn-primary">Modifier</button>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    Modifier le mot de passe
                                </div>

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Mot de passe <app-required></app-required>
                                        </span>
                                    </div>
                                    <input type="password" [(ngModel)]="passe" class="form-control"
                                        [ngClass]="{'is-invalid': showPasseErrors && passe.length <=3}">
                                </div>
                                <div *ngIf="showErrors && passe.length <=3">
                                    <small>Le mot de passe doit comporter au moins 3 caractères</small>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Confirmer le mot de passe <app-required></app-required>
                                        </span>
                                    </div>
                                    <input type="password" [(ngModel)]="confirmation" class="form-control"
                                        [ngClass]="{'is-invalid': showPasseErrors && confirmation!==passe}">
                                </div>
                                <div *ngIf="showErrors && confirmation!==passe">
                                    <small>Les mots de passe ne sont pas identiques</small>
                                </div>
                                <div class="input-group">
                                    <button (click)="changerPasse()" [disabled]="processing"
                                        class="btn btn-primary">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>