<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Ajouter une nouvelle quartier
        </div>
        <div class="">
            <a routerLink="/quartier" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des quartiers
            </a>
        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">

            <div class="page-contenu-corps">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Zone
                                </span>
                            </div>
                            <select type="text" [(ngModel)]="quartier.idzone" class="form-control">
                                <option [ngValue]="zone" *ngFor="let zone of zones">
                                    {{zone.libelle}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Code
                                </span>
                            </div>
                            <input type="text" [(ngModel)]="quartier.code" name="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Libellé
                                </span>
                            </div>
                            <input type="text" [(ngModel)]="quartier.nom" class="form-control">
                        </div>
                    </div>
                    <div class="input-group">
                        <button [disabled]="processing" (click)="save()" class="btn btn-primary">Enregistrer</button> &nbsp;
                        <button *ngIf="quartier.idquartier != 0" [disabled]="processing" (click)="supprimer()" class="btn btn-danger">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>