<h1>
  Affectations
  {{affectations.length}}
</h1>
<h2>
  Postes
  {{postes.length}}
</h2>
<h3>
  <button (click)="saveAllAffectations()">
    Mettre en ligne
  </button>
</h3>
<div style="padding: 50px;">
  <ol>

    <ng-container *ngFor="let affectation of affectations" style="margin-bottom: 20px;">
      <li>
        <div>
          {{affectation.idposte?.zone.code | json}}
          {{affectation.idposte?.codeagiv | json}}
          {{affectation.idposte?.libelle | json}}
        </div>
        <div>
          {{affectation.idvigile?.noms | json}}
          {{affectation.idvigile?.matricule | json}}
        </div>
        <div>
          <button (click)="saveAffectation(affectation)">
            Mettre en ligne
          </button>
        </div>
      </li>
    </ng-container>
  </ol>

</div>