<div class="page">
  <div class="entete">
    <div class="page-entete-titre">
      Récapitulatif
    </div>
    <div class="mb-2">
      Du <b>{{debut | date:"dd/MM/yyyy"}}</b> à <b>{{debut | date: "HH:mm:ss"}}</b>
      Au <b>{{fin | date:"dd/MM/yyyy"}}</b> à <b>{{fin | date: "HH:mm:ss"}}</b>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            Début
          </span>
        </div>
        <input type="date" [ngModel]="debut | date:'yyyy-MM-dd'" (ngModelChange)="debut = $event" class="form-control"
          [ngClass]="{'is-invalid': montrerErreurs && erreurs.code}">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            Fin
          </span>
        </div>
        <input type="date" [ngModel]="fin | date:'yyyy-MM-dd'" (ngModelChange)="fin = $event" class="form-control"
          [ngClass]="{'is-invalid': montrerErreurs && erreurs.code}">
      </div>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-primary" (click)="declencher()">
        Charger les informations
      </button>
    </div>
  </div>

  <div *ngIf="!terminee && isDeclencher">
    <div class="d-flex justify-content-center"
      style="background-color: white; opacity:0.8; height: 50vh; padding-top: 12.5vh; margin-top: 20px;">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="page-contenu" *ngIf="terminee">
    <div class="row">
      <div class="col-3">
        <div class="stat" (click)="openModal('pointagesModal')">
          <div class="stat-titre">
            Nombre de pointages
          </div>
          <div class="stat-valeur">
            {{pointages.length}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="stat" (click)="openModal('vigilesModal')">
          <div class="stat-titre">
            Vigiles qui ont pointés
          </div>
          <div class="stat-valeur">
            {{vigilesQuiOntPointes.length}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="stat" (click)="openModal('vigilesModal1')">
          <div class="stat-titre">
            Vigiles qui ont pointés une fois
          </div>
          <div class="stat-valeur">
            {{vigilesQuiOntPointesUneFois.length}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="stat" (click)="openModal('vigilesModal2')">
          <div class="stat-titre">
            Vigiles qui ont pointés deux fois
          </div>
          <div class="stat-valeur">
            {{vigilesQuiOntPointesDeuxFois.length}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="stat">
          <div class="stat-titre">
            Zones contrôlés
          </div>
          <div class="stat-valeur">
            {{zonesControlees.length}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="stat" (click)="openModal('postesModal')">
          <div class="stat-titre">
            Postes contrôlés
          </div>
          <div class="stat-valeur">
            {{postesControles.length}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="stat" (click)="openModal('postesModal1')">
          <div class="stat-titre">
            Postes contrôlés une fois
          </div>
          <div class="stat-valeur">
            {{postesControlesUneFois.length}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="stat" (click)="openModal('postesModal2')">
          <div class="stat-titre">
            Postes contrôlés deux fois
          </div>
          <div class="stat-valeur">
            {{postesControlesDeuxFois.length}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="stat" (click)="openModal('suivisModal')">
          <div class="stat-titre">
            Switchs
          </div>
          <div class="stat-valeur">
            {{remplacements.length}}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="stat red" (click)="openModal('absenceModal')">
          <div class="stat-titre">
            Absences
          </div>
          <div class="stat-valeur">
            {{absences.length}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="card shadow-1">
          <div style="margin-top: 0px;">
            <div>
              Zones
            </div>
            <div class="row gx-2">
              <div *ngFor="let zone of zones" class="col-lg-6">
                <div (click)="goToZone(zone)" class="zone"
                  [ngClass]="{'controlee': isZoneControlee(zone),'shadow-1': isZoneControlee(zone)}">
                  <span style="float: left;">
                    <i *ngIf="zone.horaire=='jour'" class="bi bi-brightness-high"></i>
                    <i *ngIf="zone.horaire=='nuit'" class="bi bi-moon"></i>
                  </span>
                  {{zone.code}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div style="margin-bottom: 20px;">
          <div class="card shadow-1" style="max-height: 400px;min-height: 200px; overflow-y: scroll">
            <div style="margin-bottom: 5px;">
              Liste des absences
            </div>
            <div>
              <app-display-pointages [pointages]="absences" [affectations]="affectations">
              </app-display-pointages>
            </div>
          </div>
        </div>

        <div style="margin-top: 20px;">
          <div class="card shadow-1" style="max-height: 400px; overflow-y: scroll">
            <div>
              Liste des pointages bruts
            </div>
            <div *ngIf="pointagesTotaux.length> 0 && affectations.length > 0">
              <app-display-pointages [pointages]="pointagesTotaux" [affectations]="affectations">
              </app-display-pointages>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" #absenceModal id="absenceModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Absences
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-display-pointages [pointages]="absences" [affectations]="affectations">
        </app-display-pointages>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #pointagesModal id="pointagesModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Pointages
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-display-pointages [pointages]="pointages" [affectations]="affectations">
        </app-display-pointages>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #vigilesModal id="vigilesModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Vigiles qui ont pointé
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding: 8px;">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">N.</th>
              <th scope="col">Matricule</th>
              <th scope="col">Noms</th>
              <th scope="col">Poste</th>
              <th scope="col">Zone</th>
              <th scope="col" style="text-align: right;">Date</th>
              <th scope="col" style="text-align: right;">Date</th>
              <th scope="col" style="text-align: right;">Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vigile of getVigilesQuiOntPointes(); let i = index">
              <td scope="row">
                {{i+1}}
              </td>
              <th scope="row">
                {{vigile?.matricule}}
              </th>
              <td style="width: 110px;">
                <div class="ellipsis">
                  {{vigile?.nomsVigile}}
                </div>
              </td>
              <th>
                <div class="ellipsis">
                  {{vigile?.poste}}
                </div>
              </th>
              <th>
                {{vigile?.zone}}
              </th>
              <td>
                <div *ngIf="vigile" style="text-align: right;">
                  <span *ngIf="vigile.date">
                    {{vigile.date.toDate() | date:"yyyy-MM-dd HH:mm:ss"}}
                  </span>
                </div>
              </td>
              <td>
                <div *ngIf="vigile" style="text-align: right;">
                  <span>
                    <span *ngIf="vigile.date2">
                      {{vigile.date2.toDate() | date:"yyyy-MM-dd HH:mm:ss"}}
                    </span>
                  </span>
                </div>
              </td>
              <td style="text-align: right;">
                {{vigile.nombre}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #vigilesModal1 id="vigilesModal1" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Vigiles qui ont pointé une fois
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding: 8px;">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">N.</th>
              <th scope="col">Matricule</th>
              <th scope="col">Noms</th>
              <th scope="col">Poste</th>
              <th scope="col">Zone</th>
              <th scope="col" style="text-align: right;">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vigile of getVigilesQuiOntPointesUne(); let i = index">
              <td scope="row">
                {{i+1}}
              </td>
              <th scope="row">
                {{vigile?.matricule}}
              </th>
              <td style="width: 110px;">
                <div class="ellipsis">
                  {{vigile?.nomsVigile}}
                </div>
              </td>
              <th>
                <div class="ellipsis">
                  {{vigile?.poste}}
                </div>
              </th>
              <th>
                {{vigile?.zone}}
              </th>
              <td>
                <div *ngIf="vigile" style="text-align: right;">
                  <span *ngIf="vigile.date">
                    {{vigile.date.toDate() | date:"yyyy-MM-dd HH:mm:ss"}}
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #vigilesModal2 id="vigilesModal2" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Vigiles qui ont pointé deux fois
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding: 8px;">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">N.</th>
              <th scope="col">Matricule</th>
              <th scope="col">Noms</th>
              <th scope="col">Poste</th>
              <th scope="col">Zone</th>
              <th scope="col" style="text-align: right;">Date</th>
              <th scope="col" style="text-align: right;">Date</th>
              <th scope="col" style="text-align: right;">Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vigile of getVigilesQuiOntPointesDeux(); let i = index">
              <td scope="row">
                {{i+1}}
              </td>
              <th scope="row">
                {{vigile?.matricule}}
              </th>
              <td style="width: 110px;">
                <div class="ellipsis">
                  {{vigile?.nomsVigile}}
                </div>
              </td>
              <th>
                <div class="ellipsis">
                  {{vigile?.poste}}
                </div>
              </th>
              <th>
                {{vigile?.zone}}
              </th>
              <td>
                <div *ngIf="vigile" style="text-align: right;">
                  <span *ngIf="vigile.date">
                    {{vigile.date.toDate() | date:"yyyy-MM-dd HH:mm:ss"}}
                  </span>
                </div>
              </td>
              <td>
                <div *ngIf="vigile" style="text-align: right;">
                  <span>
                    <span *ngIf="vigile.date2">
                      {{vigile.date2.toDate() | date:"yyyy-MM-dd HH:mm:ss"}}
                    </span>
                  </span>
                </div>
              </td>
              <td style="text-align: right;">
                {{vigile.nombre}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #postesModal id="postesModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Postes controlés
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>N.</th>
              <th>Nom</th>
              <th>Zone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let id of postesControles; let i = index"
              style="border-bottom: 1px solid #aaa; padding-bottom: 10px;">
              <td>
                {{i+1}}
              </td>
              <td>
                {{getAffectionByPoste(id)?.idposte?.libelle}}
              </td>
              <td>
                {{getAffectionByPoste(id)?.idposte?.zone.code}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #postesModal1 id="postesModal1" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Postes controlés une fois
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>N.</th>
              <th>Nom</th>
              <th>Zone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let id of postesControlesUneFois; let i = index"
              style="border-bottom: 1px solid #aaa; padding-bottom: 10px;">
              <td>
                {{i+1}}
              </td>
              <td>
                {{getAffectionByPoste(id)?.idposte?.libelle}}
              </td>
              <td>
                {{getAffectionByPoste(id)?.idposte?.zone.code}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #postesModal2 id="postesModal2" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Postes controlés deux fois
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>N.</th>
              <th>Nom</th>
              <th>Zone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let id of postesControlesDeuxFois; let i = index"
              style="border-bottom: 1px solid #aaa; padding-bottom: 10px;">
              <td>
                {{i+1}}
              </td>
              <td>
                {{getAffectionByPoste(id)?.idposte?.libelle}}
              </td>
              <td>
                {{getAffectionByPoste(id)?.idposte?.zone.code}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #suivisModal id="suivisModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Switchs
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-border row-border hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Poste</th>
              <th>Vigile remplacé</th>
              <th>Vigile remplacant</th>
              <th>Responsable</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let switch of remplacements">
              <td>{{toDate(switch.date) | date: "yyyy-MM-dd HH:mm"}}</td>
              <td>{{switch.libellePoste}}</td>
              <td>{{switch.nomsVigile}}</td>
              <td>{{switch.nomsVigileSwitch}}</td>
              <td>{{switch.idresponsable?.noms}}</td>
              <td>{{switch.statut}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
