.equipement {
    display: inline-block;
    background-color: #231709;
    color: white;
    padding-left: 16px;
    margin-right: 25px;
    margin-bottom: 16px;
    font-size: 14px;
}

.equipement-quantite {
    display: inline-block;
    background-color: #E3B505;
    color: #231709;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
}