<div class="application">
    <div class="row gx-0">
        <div *ngIf="user && afficherMenu" class="col-2" style="overflow-x: hidden;">
            <app-menu-gauche [user]="user"></app-menu-gauche>
        </div>
        <div [ngClass]="{'col-10': user && afficherMenu, 'col-12': !(user && afficherMenu)}">
            <app-menu-haut [user]="user"></app-menu-haut>
            <div class="cadre-page">
                <router-outlet></router-outlet>
                <div style="height: 58px;">

                </div>
            </div>
        </div>
    </div>
</div>

<notifier-container></notifier-container>
<div *ngIf="loading" class="dak-loading">

</div>