.application {
    width: 100vw;
    overflow-x: hidden;
}

.deconnexion {
    background-color: white;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    overflow: hidden;
    border: 0px solid #231709;
    padding: 7px;
    text-align: center;
    img {
        width: 30px;
        height: 30px;
    }
}