.application {
    width: 100vw;
    overflow-x: hidden;
}

.deconnexion {
    background-color: #231709;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    display: none;
}