<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Liste des nationalités
        </div>
    </div>
    <div class="page-contenu">
        <div class="boutons">
            <div class="row">
                <div class="col-lg-3">
                    <div class="nouveau">
                        <a routerLink="/nationalite/edit" class="btn nouveau">
                            Ajouter une nationalité
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-contenu-corps">
                <div class="card shadow-1">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Code</th>
                                <th>Libellé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let nationalite of nationalites">
                                <td>{{nationalite.idnationalite}}</td>
                                <td>{{nationalite.code}}</td>
                                <td>{{nationalite.libelle}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>