<div class="connexion">
    <div class="connexion-titre">
        Veuillez vous connecter
    </div>
    <div class="connexion-contenu">
        <div class="connexion-champ">
            <input type="text" placeholder="login">
        </div>
        <div class="connexion-champ">
            <input type="text" placeholder="Mot de passe">
        </div>
        <div class="connexion-champ">
            <button class="btn" (click)="connexion()">
                Connexion
            </button>
        </div>
    </div>
</div>