<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Poste</th>
      <th>Vigile</th>
      <th>Repos</th>
      <th>Remplacant</th>
      <th>Arrêt</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let affectation of affectations" (click)="edit(affectation.idaffectation)">
      <td>{{affectation.dateAffectation?.split('T')[0]}}</td>
      <td>{{affectation.idposte.libelle}}</td>
      <td>{{affectation.idvigile.noms}}</td>
      <td>{{jourSemaine(affectation.jourRepos)}}</td>
      <td>{{affectation.remplacant? affectation.remplacant.noms : ""}}</td>
      <td>{{affectation.arret?.split('T')[0]}}</td>
    </tr>
  </tbody>
</table>
