<div class="page">
    <div class="page-contenu">
        <div class="page-contenu-titre">

            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                            Zone
                        </span>
                        </div>

                        <select type="text" [(ngModel)]="zone" class="form-control">
                            <option [ngValue]="''"></option>
                            <option [ngValue]="zone" *ngFor="let zone of zones">
                                {{zone.libelle}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Date
                            </span>
                        </div>
                        <input type="date" class="form-control" [ngModel]="date |date:'yyyy-MM-dd'" (ngModelChange)="date = $event">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Horaire
                            </span>
                        </div>
                        <select type="date" name="date" class="form-control" [(ngModel)]="horaire">
                            <option value="jour">Jour</option>
                            <option value="nuit">Nuit</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn" (click)="rechercher()">Rechercher</button>
                </div>
            </div>

            <div *ngIf="zone && date && recherche" style="float: right;">
                <button class="btn" (click)="exportAsPDF()">Imprimer</button>
            </div>
            <div #fiche id="fiche">
                <div class="page-contenu-corps" *ngIf="zone && date && recherche">
                    <div class="page-entete-titre">
                        Fiche de pointage du {{date | date: 'yyyy-MM-dd'}}
                    </div>
                    <div style="margin-bottom: 20px;">
                        Zone : <b>{{zone.libelle}}</b>, Horaire : <b>{{horaire}}</b>
                    </div>

                    <table class="table table-bordered row-border hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Zone</th>
                                <th>Quartier</th>
                                <th>Poste</th>
                                <th>Horaire</th>
                                <th>Vigile</th>
                                <th>Signature 1</th>
                                <th>Signature 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let affectation of affectations" (click)="edit(affectation.idaffectation)">
                                <td>{{date | date: 'yyyy-MM-dd'}}</td>
                                <td>{{affectation.idposte.zone?.libelle}}</td>
                                <td>{{affectation.idposte.quartier?.libelle}}</td>
                                <td>{{affectation.idposte.libelle}}</td>
                                <td>{{affectation.horaire}}</td>
                                <td>
                                    <ng-container *ngIf="affectation.idvigile.jourRepos !== jourDeLaSemaine">
                                        {{affectation.idvigile.noms}}
                                    </ng-container>
                                    <ng-container *ngIf="affectation.idvigile.jourRepos === jourDeLaSemaine">
                                        <b>
                                        {{affectation.remplacant? affectation.remplacant.noms : ""}}
                                    </b>
                                    </ng-container>
                                </td>
                                <td></td>
                                <td>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>