<div class="page">
  <div class="page-entete">
    <div *ngIf="affectation.idposte" class="page-entete-titre">
      <b>
        Effectuer une affectation temporaire
      </b>
    </div>
    <div *ngIf="affectation.idvigile" class="page-entete-titre">
      {{affectation.idvigile.noms}}
    </div>
    <div class="">
      <a routerLink="/affectation" class="btn btn-link" style="padding: 0; margin: 0;">
        Revenir à la liste des affectations
      </a>
    </div>
  </div>
  <div class="page-contenu">

    <div class="page-contenu-titre">

      <div class="page-contenu-corps">
        <div class="row">
          <div class="col-lg-12">

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Date affectation
                </span>
              </div>
              <input [ngModel]="date | date: 'yyyy-MM-dd'" (ngModelChange)="date = $event; setFin()" type="date"
                class="form-control">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Date de fin d'affectation
                </span>
              </div>
              <input [ngModel]="arret | date: 'yyyy-MM-dd'" (ngModelChange)="arret = $event" type="date"
                class="form-control">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Zone
                </span>
              </div>
              <select (ngModelChange)="setListePostes($event)" type="text" [(ngModel)]="zone" class="form-control">
                <option [ngValue]="z" *ngFor="let z of zones">
                  {{z.libelle}}
                </option>
              </select>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  Poste
                </span>
              </div>
              <select [(ngModel)]="affectation.idposte" class="form-control">
                <option [ngValue]="poste" *ngFor="let poste of postes">
                  {{poste.libelle}}
                </option>
              </select>
            </div>

            <div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    Vigile
                  </span>
                </div>
                <input [(ngModel)]="rechercheVigile" (ngModelChange)="getVigiles($event)" type="text"
                  class="form-control" placeholder="Rechercher ici..." style="max-width: 150px;">
                <select [(ngModel)]="jourpris" class="form-control">
                  <ng-container *ngFor="let v of resultats">
                    <option [ngValue]="v">
                      {{v.date|date:"yyyy-MM-dd"}}
                      &nbsp;&nbsp;&nbsp;
                      {{v.idsuiviPoste.idvigile.noms}}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div style="margin-top: 20px;">

              <button *ngIf="!affectation.arret" (click)="creerAffectation()" class="btn btn-primary">
                Créer l'affectation temporaire
              </button>
              &nbsp;
              &nbsp;
              <button (click)="retour()" class="btn">
                Retour
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div style="height: 25vh;">

  </div>
