<div class="page">
  <div class="page-entete">
    <div *ngIf="poste.idposte==0" class="page-entete-titre">
      Ajouter un nouveau poste
    </div>
    <div *ngIf="poste.idposte!=0" class="page-entete-titre">
      Modifier le poste : {{poste.libelle}}
    </div>

    <div class="">
      <a routerLink="/poste" class="btn btn-link" style="padding: 0; margin: 0;">
        Revenir à la liste des postes
      </a>
    </div>
  </div>
  <div class="page-contenu">
    <div class="page-contenu-titre">
      <ul class="nav  nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#infos-poste"
            type="button" role="tab" aria-controls="home" aria-selected="true">
            Informations
          </a>
        </li>
      </ul>
    </div>
    <div class="page-contenu-titre">
      <div class="tab-content" id="myTabContent2"
        style="background-color: #fff; padding: 10px; padding-left: 16px; padding-right: 16px; padding-top: 2px;">
        <div class="tab-pane fade show active" id="infos-poste" role="tabpanel" aria-labelledby="home-tab">
          <div class="page-contenu-corps">
            <div class="row">
              <div class="col-lg-12">
                <div>
                  <input (ngModelChange)="checkContrat($event)" [(ngModel)]="isPosteContractuel" type="checkbox"> Poste
                  lié à un contrat
                </div>
              </div>
              <div [hidden]="!isPosteContractuel" class="col-lg-12">
                <div class="input-group">

                  <span class="input-group-text">
                    Contrat <app-required></app-required>
                  </span>

                  <span *ngIf="loadingContrat" class="input-group-text">
                    Récupération des contrats en cours...
                  </span>

                  <select [disabled]="loadingContrat" (ngModelChange)="getSitesOfContrat($event)" type="text"
                    [(ngModel)]="contrat" [ngClass]="{'is-invalid': erreurContrat}" class="form-control">
                    <option [ngValue]="contrat" *ngFor="let contrat of contrats">
                      {{contrat.libelle}}
                    </option>
                  </select>
                  <ng-container *ngIf="contrat.idcontrat !== 0">
                    <button (click)="voirContrat(contrat.idcontrat)" class="btn btn-outline-secondary" type="button">
                      Voir le contrat
                    </button>
                  </ng-container>
                </div>
                <div *ngIf="erreurContrat" class="indication">
                  Le poste doit être lié à un contrat
                </div>
                <div *ngIf="contratsites.length > 0" style="margin-top: 20px;">
                  <div style="margin-bottom: 16px;">
                    Veuillez choisir le site correspondant au poste
                  </div>

                  <div class="row">
                    <div class="col-lg-4 site" *ngFor="let site of contratsites">

                      <div class="card" [ngClass]="{'selectionnee': site.idcontratSite === siteChoisi.idcontratSite}">
                        <div class="card-body">

                          <div style="margin-bottom: 20px;">
                            <h5 class="card-title">
                              <input type="radio" (change)="sinspirerDuSite(site)" name="site"
                                [checked]="site.idcontratSite === siteChoisi.idcontratSite"> {{site.nom}}
                            </h5>

                            <div>
                              Quartier : {{site.idquartier? site.idquartier.nom: 'Indéfini'}}
                            </div>
                            <div>
                              Personne à contacter : {{site.personne? site.personne: 'Indéfini'}}
                            </div>
                            <div>
                              Tel : {{site.tel? site.tel: 'Indéfini'}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4" *ngFor="let site of contratsites">

                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="(siteChoisi.idcontratSite !== 0 && isPosteContractuel) && isPosteContractuel">
                <div class="col-lg-12">
                  <div class="categorie">
                    Horaire du poste
                  </div>
                </div>

                <div *ngIf="afficherHoraireJour" class="col-lg-6">
                  <div [ngClass]="{'is-invalid': montrerErreurs && erreurs.horaire}">
                    <input type="radio" [disabled]="existeDejaJour" (change)="changerAbreger('jour')" value="jour"
                      [(ngModel)]="poste.horaire" name="horaire"> Jour
                    <span *ngIf="existeDejaJour">
                      : Le poste a déjà été créé
                    </span>
                  </div>
                </div>
                <div *ngIf="afficherHoraireNuit" class="col-lg-6">
                  <div [ngClass]="{'is-invalid': montrerErreurs && erreurs.horaire}">
                    <input type="radio" [disabled]="existeDejaNuit" (change)="changerAbreger('nuit')" value="nuit"
                      [(ngModel)]="poste.horaire" name="horaire"> Nuit
                    <span *ngIf="existeDejaNuit">
                      : Le poste a déjà été créé
                    </span>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!isPosteContractuel">
                <div class="col-lg-12">
                  <div class="categorie">
                    Horaire du poste
                  </div>
                </div>

                <div class="col-lg-6">
                  <div>
                    <input type="radio" value="jour" [(ngModel)]="poste.horaire" name="horaire"> Jour

                  </div>
                </div>
                <div class="col-lg-6">
                  <div>
                    <input type="radio" value="nuit" [(ngModel)]="poste.horaire" name="horaire"> Nuit

                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="(isPosteContractuel && (!existeDejaJour || !existeDejaNuit)) || !isPosteContractuel">

                <div class="col-lg-12">
                  <div class="categorie">
                    Informations sur le poste
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Code
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="poste.code" class="form-control">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Libellé
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="poste.libelle" class="form-control"
                      [ngClass]="{'is-invalid': montrerErreurs && erreurs.libelle}">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Abrégé
                      </span>
                    </div>
                    <input [(ngModel)]="poste.abrege" type="text" class="form-control"
                      [ngClass]="{'is-invalid': montrerErreurs && erreurs.abrege}">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Zone
                      </span>
                    </div>

                    <select type="text" [(ngModel)]="poste.zone" class="form-control"
                      [ngClass]="{'is-invalid': montrerErreurs && erreurs.zone}">
                      <ng-container *ngFor="let zone of zones">
                        <option [ngValue]="zone" *ngIf="zone.horaire && zone.horaire === poste.horaire">
                          {{zone.libelle}}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Quartier
                      </span>
                    </div>
                    <select type="text" [(ngModel)]="poste.idquartier" class="form-control"
                      [ngClass]="{'is-invalid': montrerErreurs && erreurs.idquartier }">
                      <ng-container *ngFor="let quartier of quartiers">
                        <option [ngValue]="quartier">
                          {{quartier.nom}}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Prime
                      </span>
                    </div>
                    <select [(ngModel)]="poste.prime" class="form-control">
                      <option value="true">Oui</option>
                      <option value="false">Non</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Personne à contacter
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="poste.contact" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Téléphone
                      </span>
                    </div>
                    <input type="text" [(ngModel)]="poste.tel" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Longitude
                      </span>
                    </div>
                    <input type="number" [(ngModel)]="poste.longitude" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Latitude
                      </span>
                    </div>
                    <input type="number" [(ngModel)]="poste.latitude" class="form-control">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="input-group">

                    <span class="input-group-text">
                      Description
                      <br>
                      Localisation
                    </span>
                    <textarea [(ngModel)]="poste.description" type="text" class="form-control"></textarea>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div style="margin-top:15px; margin-bottom: 15px;">
                    <input type="checkbox" [(ngModel)]="poste.organisme"> &nbsp; Organisme
                  </div>
                </div>
              </ng-container>

            </div>
            <div
              *ngIf="(isPosteContractuel && poste.idcontratsite && (!existeDejaJour || !existeDejaNuit)) || !isPosteContractuel"
              class="input-group" style="margin-top: 20px; margin-bottom: 20px">
              <button [disabled]="processing" (click)="save()" class="btn btn-primary">Enregistrer</button> &nbsp;
              <button *ngIf="poste.idposte != 0" [disabled]="processing" (click)="supprimer()"
                class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 25vh;">

</div>
