.input-group {
    margin-top: 10px;
}

.equipements {
    padding: 20px;
    padding-top: 10px;
    border: 2px solid #303030;
    margin-top: 20px;
    &-titre {
        font-weight: bold;
    }
}

.categorie {
    opacity: 0.5;
    margin-top: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    font-size: 14px;
}

.indication {
    color: red;
    font-size: 0.8em;
}

.selectionnee {
    border-color: rgb(70, 127, 208);
    background-color: rgba(70, 127, 208, 0.05);
}

div.is-invalid {
    color: red;
}