<div class="page">
    <div class="page-entete">
        <div *ngIf="poste.idposte==0" class="page-entete-titre">
            Ajouter un nouveau poste
        </div>
        <div *ngIf="poste.idposte!=0" class="page-entete-titre">
            Modifier le poste : {{poste.libelle}}
        </div>

        <div class="">
            <a routerLink="/poste" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des postes
            </a>
        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">
            <ul class="nav  nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#infos-poste" type="button" role="tab" aria-controls="home" aria-selected="true">
                        Informations
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-contenu-titre">
            <div class="tab-content" id="myTabContent2" style="background-color: #fff; padding: 10px; padding-left: 16px; padding-right: 16px; padding-top: 2px;">
                <div class="tab-pane fade show active" id="infos-poste" role="tabpanel" aria-labelledby="home-tab">
                    <div class="page-contenu-corps">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="categorie">
                                    Contrat lié au poste
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Contrat
                                        </span>
                                    </div>
                                    <select type="text" [(ngModel)]="poste.idcontrat" class="form-control">
                                        <option [ngValue]="contrat" *ngFor="let contrat of contrats">
                                            {{contrat.libelle}}
                                        </option>
                                    </select>
                                    <ng-container *ngIf="poste.idcontrat">
                                        <button (click)="voirContrat(poste.idcontrat.idcontrat)" class="btn btn-outline-secondary" type="button">
                                            Voir le contrat
                                        </button>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="categorie">
                                    Informations sur le poste
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Code
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="poste.code" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Libellé
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="poste.libelle" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Abrégé
                                        </span>
                                    </div>
                                    <input [(ngModel)]="poste.abrege" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Zone
                                        </span>
                                    </div>

                                    <select type="text" [(ngModel)]="poste.zone" class="form-control">
                                        <option [ngValue]="zone" *ngFor="let zone of zones">
                                            {{zone.libelle}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Quartier
                                        </span>
                                    </div>
                                    <select type="text" [(ngModel)]="poste.idquartier" class="form-control">
                                        <ng-container *ngFor="let quartier of quartiers">
                                            <option
                                                *ngIf="poste.zone && quartier.idzone && poste.zone.idzone === quartier.idzone.idzone"
                                                [ngValue]="quartier">
                                                {{quartier.nom}}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Prime
                                        </span>
                                    </div>
                                    <select [(ngModel)]="poste.prime" class="form-control">
                                        <option value="true">Oui</option>
                                        <option value="false">Non</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Contact
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="poste.contact" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Téléphone
                                        </span>
                                    </div>
                                    <input type="text" [(ngModel)]="poste.tel" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Longitude
                                        </span>
                                    </div>
                                    <input type="number" [(ngModel)]="poste.longitude" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Latitude
                                        </span>
                                    </div>
                                    <input type="number" [(ngModel)]="poste.latitude" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-group">

                                    <span class="input-group-text">
                                        Description 
                                        <br>
                                        Localisation
                                    </span>
                                    <textarea [(ngModel)]="poste.description" type="text" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div style="margin-top:15px; margin-bottom: 15px;">
                                    <input type="checkbox" [(ngModel)]="poste.organisme"> &nbsp; Organisme
                                </div>
                            </div>
                        </div>
                        <div class="input-group" style="margin-top: 20px; margin-bottom: 20px">
                            <button [disabled]="processing" (click)="save()" class="btn btn-primary">Enregistrer</button> &nbsp;
                            <button *ngIf="poste.idposte != 0" [disabled]="processing" (click)="supprimer()" class="btn btn-danger">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>