.input-group {
    margin-bottom: 4px;
}

.btn-link {
    margin: 0 !important;
    padding: 0 !important;
}

li {
    .supprimer {
        display: none;
    }
    &:hover {
        .supprimer {
            display: inline;
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}