.input-group {
    margin-bottom: 8px;
}

.btn-link {
    margin: 0 !important;
    padding: 0 !important;
}

li {
    .supprimer {
        display: none;
        margin-left: 5px;
    }
    &:hover {
        .supprimer {
            display: inline;
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.bouton-supprimer {
    cursor: pointer;
    &:hover {
        color: red;
        opacity: 0.9;
    }
}

.bouton-expand {
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
}