<div class="page">
    <div class="page-entete">
        <div *ngIf="suivi.idsuiviPoste==0" class="page-entete-titre">
            Ajouter un nouveau suivi
        </div>
        <div *ngIf="suivi.idsuiviPoste!=0" class="page-entete-titre">
            Modifier le suivi
        </div>
        <div class="">
            <a routerLink="/sanction" class="btn btn-link" style="padding: 0; margin: 0;">
                Revenir à la liste des suivis
            </a>
        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">

            <div class="page-contenu-corps">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Date suivi
                                </span>
                            </div>
                            <input [(ngModel)]="suivi.dateSuivi" (ngModelChange)="getJourSemaine($event)" type="date" class="form-control">
                        </div>
                        <small *ngIf="jour">
                            {{jour}}
                        </small>
                    </div>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Poste
                                </span>
                            </div>
                            <select type="text" [(ngModel)]="suivi.poste" class="form-control">
                                <option [ngValue]="poste" *ngFor="let poste of postes">
                                    {{poste.libelle}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Horaire
                                </span>
                            </div>
                            <select [(ngModel)]="suivi.horaire" class="form-control">
                                <option value="jour">Jour</option>
                                <option value="nuit">Nuit</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Vigile
                                </span>
                            </div>
                            <select type="text" [(ngModel)]="suivi.idvigile" class="form-control">
                                <option [ngValue]="vigile" *ngFor="let vigile of vigiles">
                                    {{vigile.noms}}
                                </option>
                            </select>
                        </div>
                        <small *ngIf="suivi.idvigile">
                            Jour de repos : {{suivi.idvigile ? jourSemaine(suivi.idvigile?.jourRepos) :
                            "Aucun jour défini"}}
                        </small>
                    </div>
                    <div class="col-lg-3">
                        <div class="">
                            <input type="checkbox" [(ngModel)]="estRemplacant">
                            <span class="">
                                Remplacant
                            </span>
                        </div>
                        <small *ngIf="estRemplacant">
                            L'affectation sera suspendue
                        </small>
                    </div>
                    <div class="col-lg-12">
                        <div style="margin-top: 20px;">
                            <span class="">
                                Commentaires
                            </span>
                        </div>
                        <div class="input-group">
                            <textarea [(ngModel)]="suivi.commentaire" class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <button [disabled]="processing" (click)="save()" class="btn btn-primary">Enregistrer</button> &nbsp;
                    <button *ngIf="suivi.idsuiviPoste != 0" [disabled]="processing" (click)="supprimer()" class="btn btn-danger">Supprimer</button>
                </div>
            </div>
        </div>
    </div>