/* You can add global styles to this file, and also import other style files */

.page {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    &-entete {
        &-titre {
            font-size: 1.3em;
        }
    }
    &-contenu {
        margin-top: 20px;
        &-corps {
            margin-top: 20px;
        }
    }
}

.idea {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url('assets/img/idea.png');
    background-size: cover;
}