<div class="app-vigile" [ngClass]="{'vacant': vacant, 'remplacant': vigile.estRemplacant}">
  <span *ngIf="vacant" style="float: right; color:red">
    VACANT
  </span>
  <div>
    <b class="cliquable" (click)="goTo(vigile)">
      {{vigile.noms}}<span *ngIf="vigile.estRemplacant"> : Remplacant</span>
    </b>
    <div>
      {{vigile.matricule}}
    </div>
  </div>
  <div>
    <small>
      {{libelleFonction(vigile.fonction)}}
      <ng-container *ngIf="!affectation">
        Horaire : {{vigile.horaire | uppercase}}
      </ng-container>
    </small>
  </div>
  <div *ngIf="affectation">
    Poste :
    <a class="cliquable" (click)="voirPoste()">
      {{affectation?.idposte?.libelle}}
    </a>, Horaire : {{affectation?.idposte?.horaire}}
  </div>
  <div *ngIf="vigile.estRemplacant && long">
    <div *ngIf="long">
      <ng-container *ngFor="let jour of joursSemaine">
        <li>
          {{jourSemaine(jour)}},
          <ng-container *ngFor="let item of affectationsActuelles">
            <ng-container *ngIf="jour === item.idvigile.jourRepos && !item.arret">
              Poste :
              <a class="cliquable" (click)="voirPoste()">
                {{item.idposte?.libelle}}
              </a>, Horaire : {{item.horaire}}, Vigile :
              <a class="cliquable" (click)="goTo(item.idvigile)">
                {{item.idvigile.noms}}
              </a>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="jour === vigile.jourRepos">
            REPOS
          </ng-container>
        </li>
      </ng-container>
    </div>
    <div *ngIf="!long">
      {{affectationsActuelles.length}}/6 affectations actuellement
    </div>
  </div>
</div>