<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Tableau de bord
        </div>
        <div class="">

            Listes des zones et des postes

        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">
            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Noms
                            </span>
                        </div>
                        <select type="date" name="date" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Matricule
                            </span>
                        </div>
                        <select type="date" name="date" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn">Rechercher</button>
                </div>
            </div>
            <div *ngIf="terminee" class="page-contenu-corps">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="petit-titre">
                            Etats des lieux
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="vigiles-nuit" (click)="goToPostesVacants()">
                            <div class="titre">
                                Besoins en vigiles JOUR
                            </div>
                            <div class="row">
                                <div class="col-lg-6" style="border-right: 1px solid #fff;">

                                    <div class="valeur">
                                        {{nbVigilesJour}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="valeur">
                                        {{nbBesoinVigilesJour }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="vigiles-nuit" (click)="goToPostesVacants()">
                            <div class="titre">
                                Besoins en vigiles NUIT
                            </div>
                            <div class="row">
                                <div class="col-lg-6" style="border-right: 1px solid #fff;">

                                    <div class="valeur">
                                        {{nbVigilesNuit}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="valeur">
                                        {{nbBesoinVigilesNuit}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-contenu-corps">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="petit-titre">
                            Liste des zones
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2" *ngFor="let zone of zones">
                        <div (click)="goToZone(zone)" class="dash">
                            <div class="dash-titre">
                                {{zone.libelle}}
                            </div>
                            <div class="dash-postes">
                                <span class="dash-postes-libelle" *ngFor="let poste of postes">
                                    <span class="dash-postes-libelle" *ngIf="poste.zone === zone.idzone">
                                        {{poste.libelle}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>