<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Tableau de bord
        </div>
        <div class="">

            Listes des zones et des postes

        </div>
    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Noms
                            </span>
                        </div>
                        <select type="date" name="date" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Matricule
                            </span>
                        </div>
                        <select type="date" name="date" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Horaire
                            </span>
                        </div>
                        <select type="date" name="date" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn primaire">Rechercher</button>
                </div>
            </div>
            <div *ngIf="terminee" class="page-contenu-corps">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="petit-titre">
                            Etats des lieux
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="vigiles-nuit shadow-2" (click)="goToPostesVacants()">
                            <div class="titre">
                                Besoins en vigiles JOUR
                            </div>
                            <div class="row">
                                <div class="col-lg-6" style="border-right: 1px solid #fff;">

                                    <div class="valeur">
                                        {{besoinVigile.nbVigilesJour}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="valeur">
                                        {{besoinVigile.nbBesoinVigilesJour }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="vigiles-nuit shadow-2" (click)="goToPostesVacants()">
                            <div class="titre">
                                Besoins en vigiles NUIT
                            </div>
                            <div class="row">
                                <div class="col-lg-6" style="border-right: 1px solid #fff;">

                                    <div class="valeur">
                                        {{besoinVigile.nbVigilesNuit}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="valeur">
                                        {{besoinVigile.nbBesoinVigilesNuit}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="vigiles-nuit shadow-2" (click)="goToPostesVacants()">
                            <div class="titre">
                                Besoins en vigiles JOUR
                            </div>
                            <div class="row">
                                <div class="col-lg-6" style="border-right: 1px solid #fff;">

                                    <div class="valeur">
                                        {{besoinVigile.nbVigilesJour}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="valeur">
                                        {{besoinVigile.nbBesoinVigilesJour }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="vigiles-nuit shadow-2" (click)="goToPostesVacants()">
                            <div class="titre">
                                Besoins en vigiles NUIT
                            </div>
                            <div class="row">
                                <div class="col-lg-6" style="border-right: 1px solid #fff;">

                                    <div class="valeur">
                                        {{besoinVigile.nbVigilesNuit}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="valeur">
                                        {{besoinVigile.nbBesoinVigilesNuit}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-contenu-corps">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card shadow-1">
                            <div class="petit-titre">
                                Liste des zones
                            </div>
                            <div class="row">
                                <div class="col-lg-4" *ngFor="let zone of zones">
                                    <div (click)="goToZone(zone)" class="dash">
                                        <div class="dash-titre">
                                            {{zone.libelle}}
                                        </div>
                                        <div class="">
                                            {{zone.idville?.nom}}
                                        </div>
                                        <div class="dash-postes">
                                            <span class="dash-postes-libelle" *ngFor="let poste of postes">
                                                <span class="dash-postes-libelle" *ngIf="poste.zone === zone.idzone">
                                                    {{poste.libelle}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div *ngIf="afficher" class="card shadow-1">
                            <div style="display: block;">
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend">
                                </canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="page-contenu-corps" style="margin-top: 25px;">
                            <div class="card shadow-1">
                                <div class="petit-titre" style="margin-bottom: 20px;">
                                    Liste des vigiles sanctionnés
                                </div>
                                <table class="table table-bordered row-border hover">
                                    <thead>
                                        <tr>
                                            <th>Vigile</th>
                                            <th>Horaire</th>
                                            <th>Date</th>
                                            <th>Date effet</th>
                                            <th>Sanctions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let s of sanctions" style="cursor: pointer;">
                                            <td>{{s.idvigile.noms}}</td>
                                            <td>{{s.horaire}}</td>
                                            <td>{{s.dateSuivi | date: 'yyyy-MM-dd'}}</td>
                                            <td>{{s.dateEffet | date: 'yyyy-MM-dd'}}</td>
                                            <td>{{s.commentaire}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="page-contenu-corps" style="margin-top: 25px;">
                            <div class="card shadow-1">
                                <div class="petit-titre" style="margin-bottom: 20px;">
                                    Liste des permissions
                                </div>
                                <table class="table table-bordered row-border hover">
                                    <thead>
                                        <tr>
                                            <th>Vigile</th>
                                            <th>Horaire</th>
                                            <th>Date</th>
                                            <th>Date effet</th>
                                            <th>Sanctions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let s of permissions" style="cursor: pointer;">
                                            <td>{{s.idvigile?.noms}}</td>
                                            <td>{{s.idvigile?.horaire}}</td>
                                            <td>{{s.dateDebut | date: 'yyyy-MM-dd'}}</td>
                                            <td>{{s.dateFin | date: 'yyyy-MM-dd'}}</td>
                                            <td>{{s.commentaire}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="page-contenu-corps" style="margin-top: 25px;">
                            <div class="card shadow-1">
                                <div class="petit-titre" style="margin-bottom: 20px;">
                                    Liste des vigiles en stand by
                                </div>
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Noms</th>
                                            <th>Horaire</th>
                                            <th>Fonction</th>
                                            <th>Repos</th>
                                            <th>Zone</th>
                                            <th>Quartier</th>
                                            <th>Ville</th>
                                            <th style="text-align: center;">Remplacant</th>
                                            <th style="text-align: center;">Rempl. Congés</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let vigile of vigiles" style="cursor: pointer;">
                                            <td>{{vigile.idvigile}}</td>
                                            <td>{{vigile.noms}}</td>
                                            <td style="text-transform: capitalize;">{{vigile.horaire}}</td>
                                            <td>{{libelleFonction(vigile.fonction)}}</td>
                                            <td>{{jourSemaine(vigile.jourRepos)}}</td>
                                            <td>{{vigile.zone?.libelle}}</td>
                                            <td>{{vigile.quartier?.nom}}</td>
                                            <td>{{vigile.ville?.libelle}}</td>
                                            <td style="text-align: center;">
                                                <input type="checkbox" [(ngModel)]="vigile.estRemplacant" readonly>
                                            </td>
                                            <td style="text-align: center;">
                                                <input type="checkbox" [(ngModel)]="vigile.estRemplacantConge" readonly>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 25vh;"></div>