<div class="page">
    <div class="page-entete">
        <div class="page-entete-titre">
            Planning des remplaçants
        </div>
        <div class="boutons">
            <div class="row">
                <div class="col-lg-4">
                    <div class="nouveau">
                        <a (click)="reorganiser()" class="btn nouveau">
                            Proposer une réorganisation
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Noms
                            </span>
                        </div>
                        <select type="date" name="date" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Matricule
                            </span>
                        </div>
                        <select type="date" name="date" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button class="btn primaire">Rechercher</button>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
    <div class="page-contenu">
        <div class="page-contenu-titre">
            <div class="card shadow-1">
                <table datatable [dtOptions]="dtOptions " [dtTrigger]="dtTrigger " class="row-border hover ">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th style="text-align: left;">Noms</th>
                            <th>Lundi</th>
                            <th>Mardi</th>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                            <th>Samedi</th>
                            <th>Dimanche</th>
                            <th>Rep</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let v of vigilesPropositions">
                            <td>{{v.score}}</td>
                            <td style="text-align: left;">{{v.vigile.noms}}</td>
                            <td>
                                <div *ngIf="v.vigile.jourRepos !==1 && !getAffectationJour(v.vigile, 1).idposte " class="idea "></div>
                                <div *ngIf="v.vigile.jourRepos===1 " class="repos ">
                                    REPOS
                                </div>
                                <div *ngIf="v.vigile.jourRepos !==1 ">
                                    <a [routerLink]=" '/poste/edit/' + getAffectationJour(v.vigile, 1).idposte?.idposte ">
                                        {{getAffectationJour(v.vigile, 1).idposte?.libelle}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="v.vigile.jourRepos !==2 && !getAffectationJour(v.vigile, 2).idposte " class="idea "></div>
                                <div *ngIf="v.vigile.jourRepos===2 " class="repos ">
                                    REPOS
                                </div>
                                <div *ngIf="v.vigile.jourRepos !==2 ">
                                    <a [routerLink]=" '/poste/edit/' + getAffectationJour(v.vigile, 2).idposte?.idposte ">
                                        {{getAffectationJour(v.vigile, 2).idposte?.libelle}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="v.vigile.jourRepos !==3 && !getAffectationJour(v.vigile, 3).idposte " class="idea ">
                                </div>
                                <div *ngIf="v.vigile.jourRepos===3 " class="repos ">
                                    REPOS
                                </div>
                                <div *ngIf="v.vigile.jourRepos !==3 ">
                                    <a [routerLink]=" '/poste/edit/' + getAffectationJour(v.vigile, 3).idposte?.idposte ">
                                        {{getAffectationJour(v.vigile, 3).idposte?.libelle}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="v.vigile.jourRepos !==4 && !getAffectationJour(v.vigile, 4).idposte " class="idea ">
                                </div>
                                <div *ngIf="v.vigile.jourRepos===4 " class="repos ">
                                    REPOS
                                </div>
                                <div *ngIf="v.vigile.jourRepos !==4 ">
                                    <a [routerLink]=" '/poste/edit/' + getAffectationJour(v.vigile, 4).idposte?.idposte ">
                                        {{getAffectationJour(v.vigile, 4).idposte?.libelle}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="v.vigile.jourRepos !==5 && !getAffectationJour(v.vigile, 5).idposte " class="idea "></div>
                                <div *ngIf="v.vigile.jourRepos===5 " class="repos ">
                                    REPOS
                                </div>
                                <div *ngIf="v.vigile.jourRepos !==5 ">
                                    <a [routerLink]=" '/poste/edit/' + getAffectationJour(v.vigile, 5).idposte?.idposte ">
                                        {{getAffectationJour(v.vigile, 5).idposte?.libelle}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="v.vigile.jourRepos !==6 && !getAffectationJour(v.vigile, 6).idposte " class="idea "></div>
                                <div *ngIf="v.vigile.jourRepos===6 " class="repos ">
                                    REPOS
                                </div>
                                <div *ngIf="v.vigile.jourRepos !==6 ">
                                    <a [routerLink]=" '/poste/edit/' + getAffectationJour(v.vigile, 6).idposte?.idposte ">
                                        {{getAffectationJour(v.vigile, 6).idposte?.libelle}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="v.vigile.jourRepos !==7 && !getAffectationJour(v.vigile, 7).idposte " class="idea "></div>
                                <div *ngIf="v.vigile.jourRepos===7 " class="repos ">
                                    REPOS
                                </div>
                                <div *ngIf="v.vigile.jourRepos !==7 ">
                                    <a [routerLink]=" '/poste/edit/' + getAffectationJour(v.vigile, 7).idposte?.idposte ">
                                        {{getAffectationJour(v.vigile, 7).idposte?.libelle}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                {{v.affectations.length}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" #suggestion id="suggestion" data-bs-backdrop="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Suggestions
                    </h5>
                </div>
                <div class="modal-body" style="min-height: 500px;">
                    <div style="min-height: 500px;">
                        <div *ngIf="vigiles.length == 0">
                            Vous devez procéder à un recrutemeent
                        </div>
                        <div *ngIf="vigiles.length > 1">
                            <div style="margin-bottom: 15px;">
                                Vous pouvez effectuer une des affectations suivantes :
                            </div>
                            <table class="table table-bordered table-dark">
                                <thead>
                                    <tr>
                                        <th>Score</th>
                                        <th style="text-align: left;">Noms</th>
                                        <th>Lundi</th>
                                        <th>Mardi</th>
                                        <th>Mercredi</th>
                                        <th>Jeudi</th>
                                        <th>Vendredi</th>
                                        <th>Samedi</th>
                                        <th>Dimanche</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let v of vigilesPropositions">
                                        <td>{{v.score}}</td>
                                        <td style="text-align: left;">
                                            {{v.vigile.noms}}
                                        </td>
                                        <td>
                                            <a style="color: #E3B505;" [routerLink]=" '/poste/edit/' + v.getAffectation(1)?.idposte?.idposte ">
                                                {{v.getAffectation(1)?.idposte?.libelle}}
                                            </a>
                                            <div *ngIf="isRepos(v.vigile, 1)" class="repos ">
                                                REPOS
                                            </div>
                                        </td>
                                        <td>
                                            <a style="color: #E3B505;" [routerLink]=" '/poste/edit/' + v.getAffectation(2)?.idposte?.idposte ">
                                                {{v.getAffectation(2)?.idposte?.libelle}}
                                            </a>
                                            <div *ngIf="isRepos(v.vigile, 2)" class="repos ">
                                                REPOS
                                            </div>
                                        </td>
                                        <td>
                                            <a style="color: #E3B505;" [routerLink]=" '/poste/edit/' + v.getAffectation(3)?.idposte?.idposte ">
                                                {{v.getAffectation(3)?.idposte?.libelle}}
                                            </a>
                                            <div *ngIf="isRepos(v.vigile, 3)" class="repos ">
                                                REPOS
                                            </div>
                                        </td>
                                        <td>
                                            <a style="color: #E3B505;" [routerLink]=" '/poste/edit/' + v.getAffectation(4)?.idposte?.idposte ">
                                                {{v.getAffectation(4)?.idposte?.libelle}}
                                            </a>
                                            <div *ngIf="isRepos(v.vigile, 4)" class="repos ">
                                                REPOS
                                            </div>
                                        </td>
                                        <td>
                                            <a style="color: #E3B505;" [routerLink]=" '/poste/edit/' + v.getAffectation(5)?.idposte?.idposte ">
                                                {{v.getAffectation(5)?.idposte?.libelle}}
                                            </a>
                                            <div *ngIf="isRepos(v.vigile, 5)" class="repos ">
                                                REPOS
                                            </div>
                                        </td>
                                        <td>
                                            <a style="color: #E3B505;" [routerLink]=" '/poste/edit/' + v.getAffectation(6)?.idposte?.idposte ">
                                                {{v.getAffectation(6)?.idposte?.libelle}}
                                            </a>
                                            <div *ngIf="isRepos(v.vigile, 6)" class="repos ">
                                                REPOS
                                            </div>
                                        </td>
                                        <td>
                                            <a style="color: #E3B505;" [routerLink]=" '/poste/edit/' + v.getAffectation(7)?.idposte?.idposte ">
                                                {{v.getAffectation(7)?.idposte?.libelle}}
                                            </a>
                                            <div *ngIf="isRepos(v.vigile, 7)" class="repos ">
                                                REPOS
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="processing" style="min-height: 500px; margin-top: -500px; background-color: rgba(255, 255, 255, 0.95); ">
                        <div style="height: 200px;"></div>
                        <div style="height: 100px; text-align: center;">
                            <div style="margin-top: 2;" class="spinner-border" role="status"></div>
                            <div>
                                Veuillez patienter
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="processing" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button> &nbsp;
                    <button *ngIf="!processing" (click)="appliquerTout()" class="btn nouveau">
                        Appliquer tout
                    </button>
                </div>
            </div>
        </div>
    </div>