<div class="page">
  <div class="page-entete">
    <div class="page-entete-titre">
      Liste des switchs
    </div>
    <div class="boutons">
      <div class="row">
        <div class="col-lg-2">
          <div class="nouveau">
            <a routerLink="/switch/edit" class="btn nouveau">
              Ajouter un switch
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Ville</span>
            </div>
            <select [(ngModel)]="ville" class="form-control">
              <option [ngValue]="null">Toutes les villes</option>
              <option [ngValue]="ville" *ngFor="let ville of villes">
                {{ville.libelle}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-2">
          <button class="btn primaire">Filtrer</button>
        </div>
      </div>
    </div>
  </div>
  <div style="display: none;">
    les remplacem,nts
    <div style="margin-bottom: 40px;" *ngFor="let s of remplacements">
      {{s | json}}
    </div>
  </div>
  <div class="page-contenu" style="display: none;">
    <span style="margin-right: 40px;">
      <input type="radio" name="validees" [(ngModel)]="statut" value="aucun">&nbsp; Demandes de switchs
    </span>
    <input type="radio" name="validees" [(ngModel)]="statut" value="valide">&nbsp; Switchs validés
  </div>
  <div [ngStyle]="{'display': statut==='aucun' ? 'block': 'none'}" class="page-contenu">
    <div class="page-contenu-titre">
      <div class="page-contenu-corps">
        <div class="card shadow-1">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-border row-border hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Poste</th>
                <th>Vigile remplacé</th>
                <th>Vigile remplacant</th>
                <th>Responsable</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let switch of remplacements" (click)="voirDemande(switch)">
                <td>{{toDate(switch.date) | date: "yyyy-MM-dd HH:mm"}}</td>
                <td>{{switch.libellePoste}}</td>
                <td>{{switch.nomsVigile}}</td>
                <td>{{switch.nomsVigileSwitch}}</td>
                <td>{{switch.idresponsable?.noms}}</td>
                <td>{{switch.statut}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" #switchDemandeModal id="switchDemandeModal" tabindex="-1">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Demande de switch
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div style="display: none;">
            {{demande | json}}
          </div>
          <div *ngIf="demande">
            <div>Date : {{toDate(demande.date) | date: "yyyy-MM-dd HH:mm"}}</div>
            <div>Poste : {{demande.libellePoste}}</div>
            <div>Vigile remplacé : {{demande.nomsVigile}}</div>
            <div>
              Vigile remplacant :
              <b>
                {{demande.nomsVigileSwitch}}
              </b>
            </div>
            <div style="margin-top: 20px;">

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    Responsable
                  </span>
                </div>

                <select type="text" [(ngModel)]="responsable" class="form-control"
                  [ngClass]="{'is-invalid': !responsable && montrerErreur}">
                  <ng-container *ngFor="let r of responsables">
                    <option [ngValue]="r">
                      {{r.noms}}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="demande && !demande.valide" class="btn btn-primary" (click)="validerLaDemande(demande)">
            <ng-container *ngIf="!validationEnCours">
              Valider la demande
            </ng-container>
            <ng-container *ngIf="validationEnCours">
              Veuillez patienter...
            </ng-container>

          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>