<div class="page">
  <div class="entete">
    <h1>
      <span style="margin-right: 20px;">
        <i *ngIf="zone.horaire=='jour'" class="bi bi-brightness-high"></i>
        <i *ngIf="zone.horaire=='nuit'" class="bi bi-moon"></i>
      </span>
      {{zone.code}}
    </h1>
    <div class="page-entete-titre">
      Récapitulatif de la veille
    </div>
    <div>
      Du <b>{{debut | date:"dd/MM/yyyy"}}</b> à <b>{{debut | date: "HH:mm:ss"}}</b>
      Au <b>{{fin | date:"dd/MM/yyyy"}}</b> à <b>{{fin | date: "HH:mm:ss"}}</b>
    </div>
  </div>

  <div class="page-contenu">
    <div class="row">
      <div class="col-5">
        <div class="row gx-2">
          <div class="col-6">
            <div class="stat" (click)="openModal('vigilesEnService')">
              <div class="stat-titre">
                Vigiles en service
              </div>
              <div class="stat-valeur">
                {{affectations.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat" (click)="openModal('pointagesModal')">
              <div class="stat-titre">
                Nombre de pointages
              </div>
              <div class="stat-valeur">
                {{pointages.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat" (click)="openModal('vigilesModal')">
              <div class="stat-titre">
                Vigiles qui ont pointés
              </div>
              <div class="stat-valeur">
                {{vigilesQuiOntPointes.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat" (click)="openModal('vigilesModal1')">
              <div class="stat-titre">
                Vigiles qui ont pointés une fois
              </div>
              <div class="stat-valeur">
                {{vigilesQuiOntPointesUneFois.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat" (click)="openModal('vigilesModal2')">
              <div class="stat-titre">
                Vigiles qui ont pointés deux fois
              </div>
              <div class="stat-valeur">
                {{vigilesQuiOntPointesDeuxFois.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat" (click)="openModal('postesModal')">
              <div class="stat-titre">
                Postes contrôlés
              </div>
              <div class="stat-valeur">
                {{postesControles.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat" (click)="openModal('postesModal1')">
              <div class="stat-titre">
                Postes contrôlés une fois
              </div>
              <div class="stat-valeur">
                {{postesControlesUneFois.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat" (click)="openModal('postesModal2')">
              <div class="stat-titre">
                Postes contrôlés deux fois
              </div>
              <div class="stat-valeur">
                {{postesControlesDeuxFois.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat" (click)="openModal('suivisModal')">
              <div class="stat-titre">
                Switchs
              </div>
              <div class="stat-valeur">
                {{remplacements.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat red" (click)="openModal('absenceModal')">
              <div class="stat-titre">
                Absences
              </div>
              <div class="stat-valeur">
                {{absences.length}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="stat red" (click)="openModal('vigilesNonPointees')">
              <div class="stat-titre">
                Vigiles qui n'ont pas pointé
              </div>
              <div class="stat-valeur">
                {{affectationsNonPointees.length}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-6">
            <div class="card shadow-1">
              <div style="display: block" *ngIf="afficher">
                <canvas baseChart [datasets]="vigilesBarChartData" [labels]="vigilesBarChartLabels"
                  [options]="barChartOptions" [legend]="barChartLegend" type="pie">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card shadow-1">
              <div style="display: block" *ngIf="afficher">
                <canvas baseChart [datasets]="postesBarChartData" [labels]="postesBarChartLabels"
                  [options]="barChartOptions" [legend]="barChartLegend" type="doughnut">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col-12">
        <div class="card shadow-1" style="margin-bottom: 20px;">
          <div style="margin-top: 0px;">
            <div>
              {{postesControles.length}}/{{postes.length}} Postes
            </div>
            <div class="row">
              <ng-container *ngFor="let poste of postes">
                <div *ngIf="!poste.statut" class="col-lg-3">
                  <div class="poste" (click)="voirPoste(poste)"
                    [ngClass]="{'controlee': isPosteControlee(poste), 'inactif': poste.statut}">
                    {{poste.libelle.replace("NUIT", "").replace("JOUR", "")}}
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div style="margin-bottom: 20px;">
          <div class="card shadow-1" style="max-height: 400px; overflow-y: scroll;">
            <div style="margin-bottom: 5px;">
              Liste des absences
            </div>
            <app-display-pointages [pointages]="absences" [affectations]="affectations">
            </app-display-pointages>
          </div>
        </div>

      </div>
      <div class="col-6">

        <div style="margin-bottom: 20px;">
          <div class="card shadow-1" style="max-height: 400px; overflow-y: scroll;">
            <div>
              Liste des pointages bruts
            </div>
            <app-display-pointages [pointages]="pointagesTotaux" [affectations]="affectations">
            </app-display-pointages>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #absenceModal id="absenceModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Absences
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-display-pointages [pointages]="absences" [affectations]="affectations">
        </app-display-pointages>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #vigilesEnService id="vigilesEnService" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Vigiles en service
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-display-affectation-vigiles [affectations]="affectations"></app-display-affectation-vigiles>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #vigilesNonPointees id="vigilesNonPointees" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Vigiles qui n'ont pas pointé
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-display-affectation-vigiles [affectations]="affectationsNonPointees"></app-display-affectation-vigiles>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #pointagesModal id="pointagesModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Pointages
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-display-pointages [pointages]="pointages" [affectations]="affectations">
        </app-display-pointages>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #postesModal id="postesModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Postes controlés
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ol>
          <li *ngFor="let id of postesControles" style="border-bottom: 1px solid #aaa; padding-bottom: 10px;">
            {{getAffectionByPoste(id)?.idposte?.libelle}}
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #vigilesModal id="vigilesModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Vigiles qui ont pointé
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding: 8px;">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">N.</th>
              <th scope="col">Matricule</th>
              <th scope="col">Noms</th>
              <th scope="col">Date</th>
              <th scope="col" style="text-align: right;">Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vigile of getVigilesQuiOntPointes(); let i = index">
              <td scope="row">
                {{i+1}}
              </td>
              <th scope="row">
                {{vigile?.matricule}}
              </th>
              <td>
                {{vigile?.nomsVigile}}
              </td>
              <td>
                <div *ngIf="vigile" style="display: flex; justify-content: space-between;">
                  <span *ngIf="vigile.date">
                    {{vigile.date.toDate() | date:"HH:mm:ss"}}
                  </span>
                  <span>
                    <span *ngIf="vigile.date2">
                      {{vigile.date2.toDate() | date:"HH:mm:ss"}}
                    </span>
                  </span>
                </div>
              </td>
              <td style="text-align: right;">
                {{vigile.nombre}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #vigilesModal1 id="vigilesModal1" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Vigiles qui ont pointé une fois
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding: 8px;">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">N.</th>
              <th scope="col">Matricule</th>
              <th scope="col">Noms</th>
              <th scope="col">Date</th>
              <th scope="col" style="text-align: right;">Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vigile of getVigilesQuiOntPointesUne(); let i = index">
              <td scope="row">
                {{i+1}}
              </td>
              <th scope="row">
                {{vigile?.matricule}}
              </th>
              <td>
                {{vigile?.nomsVigile}}
              </td>
              <td>
                <div *ngIf="vigile" style="display: flex; justify-content: space-between;">
                  <span *ngIf="vigile.date">
                    {{vigile.date.toDate() | date:"HH:mm:ss"}}
                  </span>
                  <span>
                    <span *ngIf="vigile.date2">
                      {{vigile.date2.toDate() | date:"HH:mm:ss"}}
                    </span>
                  </span>
                </div>
              </td>
              <td style="text-align: right;">
                {{vigile.nombre}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #vigilesModal2 id="vigilesModal2" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Vigiles qui ont pointé deux fois
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding: 8px;">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">N.</th>
              <th scope="col">Matricule</th>
              <th scope="col">Noms</th>
              <th scope="col">Date</th>
              <th scope="col" style="text-align: right;">Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vigile of getVigilesQuiOntPointesDeux(); let i = index">
              <td scope="row">
                {{i+1}}
              </td>
              <th scope="row">
                {{vigile?.matricule}}
              </th>
              <td>
                {{vigile?.nomsVigile}}
              </td>
              <td>
                <div *ngIf="vigile" style="display: flex; justify-content: space-between;">
                  <span *ngIf="vigile.date">
                    {{vigile.date.toDate() | date:"HH:mm:ss"}}
                  </span>
                  <span>
                    <span *ngIf="vigile.date2">
                      {{vigile.date2.toDate() | date:"HH:mm:ss"}}
                    </span>
                  </span>
                </div>
              </td>
              <td style="text-align: right;">
                {{vigile.nombre}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #postesModal1 id="postesModal1" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Postes controlés une fois
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ol>
          <li *ngFor="let id of postesControlesUneFois" style="border-bottom: 1px solid #aaa; padding-bottom: 10px;">
            {{getAffectionByPoste(id)?.idposte?.libelle}}
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #postesModal2 id="postesModal2" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Postes controlés deux fois
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ol>
          <li *ngFor="let id of postesControlesDeuxFois" style="border-bottom: 1px solid #aaa; padding-bottom: 10px;">
            {{getAffectionByPoste(id)?.idposte?.libelle}}
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" #suivisModal id="suivisModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Switchs
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-border row-border hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Poste</th>
              <th>Vigile remplacé</th>
              <th>Vigile remplacant</th>
              <th>Responsable</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let switch of remplacements">
              <td>{{toDate(switch.date) | date: "yyyy-MM-dd HH:mm"}}</td>
              <td>{{switch.libellePoste}}</td>
              <td>{{switch.nomsVigile}}</td>
              <td>{{switch.nomsVigileSwitch}}</td>
              <td>{{switch.idresponsable?.noms}}</td>
              <td>{{switch.statut}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
